// FOOTER :: START
footer.footer(itemscope itemtype="https://schema.org/WPFooter")
	.container-fluid

		nav.nav-group
			.row
				.col-12.col-md-2
					.logo
						a(href="/homepage.pug")
							+icon('ico-logo')
				.col-6.col-sm-4.col-md-2
					p.nav-group__title Журнал
					ul.nav-group__menu
						li
							a(href="#").nav-group__link Парусный спорт
						li
							a(href="#").nav-group__link Обзоры и тест-драйвы
						li
							a(href="#").nav-group__link Мегаяхты
						li
							a(href="#").nav-group__link Путешествия
						li
							a(href="#").nav-group__link Дизайн
						li
							a(href="#").nav-group__link Lifestyle
						li
							a(href="#").nav-group__link Общество
						li
							a(href="#").nav-group__link Яхтинг в россии
						li
							a(href="#").nav-group__link Теория и практика
						li
							a(href="#").nav-group__link Люди
						li
							a(href="#").nav-group__link Индустрия
						li
							a(href="#").nav-group__link Активный отдых
						li
							a(href="#").nav-group__link Юмор
						li
							a(href="#").nav-group__link Происшествия
				.col-6.col-md-4

					.row
						.col-sm-6
							p.nav-group__title Каталог
							ul.nav-group__menu
								li
									a(href="#").nav-group__link Катера
								li
									a(href="#").nav-group__link Моторные яхты
								li
									a(href="#").nav-group__link Парусные яхты
						.col-sm-6
							p.nav-group__title Маркет
							ul.nav-group__menu
								li
									a(href="#").nav-group__link Ковые парусные яхты
								li
									a(href="#").nav-group__link Новые моторные яхты
								li
									a(href="#").nav-group__link Новые катера
								li
									a(href="#").nav-group__link Парусные яхты б/у
								li
									a(href="#").nav-group__link Моторные яхты б/у
								li
									a(href="#").nav-group__link Катера б/у
								li
									a(href="#").nav-group__link Недорогие катера
								li
									a(href="#").nav-group__link Недорогие парусные яхты
								li
									a(href="#").nav-group__link Недорогие моторные яхты
								li
									a(href="#").nav-group__link Промо предложения
					
				.col-sm-6.col-md-2
					p.nav-group__title
						+icon('ico-xl')
				.col-sm-6.col-md-2
					p.nav-group__title
						+icon('ico-charterly')
		hr

		nav.footer-social
			a(href="#").footer-social__link.footer-social__link--vk
				+icon('ico-social-vk')
			a(href="#").footer-social__link.footer-social__link--fb
				+icon('ico-social-fb')
			a(href="#").footer-social__link.footer-social__link--im
				+icon('ico-social-im')

		nav.nav-info
			ul.nav-info__menu
				li
					a(href="#").nav-info__link О проекте
				li
					a(href="#").nav-info__link Контакты
				li
					a(href="#").nav-info__link Политика конфиденциальности
				li
					a(href="#").nav-info__link Правила использования Материалов

		p.copyright Новости яхт, яхтинга и парусного спорта. База данных мирового яхтенного флота. Календарь регат, выставок и других мероприятий. Блоги. Дискуссии. Фотографии и видео. Использование материалов itBoat разрешено только при наличии активной ссылки на источник. Все права на изображения и тексты принадлежат их авторам.<br><br>© itBoat, 2010– <span itemprop="copyrightYear">2017</span>

      
      
// FOOTER :: END
