// HEADER :: START
.banner
    script(type="text/javascript").
      
        if (typeof(pr) == 'undefined') {
            var pr = Math.floor(Math.random() * 4294967295) + 1;
        }
        if (typeof(document.referrer) != 'undefined') {
            if (typeof(afReferrer) == 'undefined') {
                afReferrer = encodeURIComponent(document.referrer);
            }
        } else {
            afReferrer = '';
        }
        var addate = new Date();
        document.write('<script type="text/javascript" src="//ads.adfox.ru/160296/prepareCode?pp=g&amp;ps=kjw&amp;p2=fmos&amp;pr=' + pr + '&amp;pt=b&amp;pd=' + addate.getDate() + '&amp;pw=' + addate.getDay() + '&amp;pv=' + addate.getHours() + '&amp;prr=' + afReferrer + '&amp;jsrandom=' + Math.random() + '"><\/script>');
           
    

header.header
    .container-fluid
        .logo
            a(href="/homepage.pug")
                +icon('ico-logo')
        nav.nav

            button.nav__btn
                span

            .nav__dropdown

                ul.nav__menu
                    li
                        a(href="#").nav__link ЖУРНАЛ
                    li
                        a(href="#").nav__link КАТАЛОГ
                    li
                        a(href="#").nav__link Маркет
                    li
                        a(href="#").nav__link
                            +icon('ico-xl')
                    li
                        a(href="#").nav__link
                            +icon('ico-charterly')

                ul.auth
                    li
                        a(href="#").auth__link Вход
                
                    li
                        a(href="#").auth__link Регистрация

                .search
                    form(action="#")
                        input(type="search", placeholder="Поиск").search__input
                        button.search__btn
                            +icon('ico-search')

        
// HEADER :: END
