---
title: Ошибка 404
bodyClass: page-error
---
extends shared/_layout
block content
	
	// Error 404 :: Start

	
	.error
		.container-fluid
			b.error__number ошибка 404
			p.error__slogan Капитан, мы по-ходу заблудились, этого места нет на карте!
			p.error__text Запрашиваемая страница не найдена, удалена или никогда не существовала — проверьте правильность написания адреса или начните с <a href="#">главной страницы</a>.

	// Error 404 :: End
	

	