---
title: Legacy
bodyClass: page-article
---
extends shared/_layout
block content


	// Article :: Start

	article.article.is-small.is-firstletter
		.container-fluid

			.breadcrumbs
				ul.breadcrumbs__menu
					li
						a(href="#").breadcrumbs__link Главная
					li
						a(href="#").breadcrumbs__link Журнал 
					li
						a(href="#").breadcrumbs__link Статьи
					li
						a(href="#").breadcrumbs__link Путешестви
					li
						a(href="#").breadcrumbs__link.is-active VIII Архипелагская экспедиция

			.row.js-fixed-container
				.col-lg-9

					.article-panel
						.article-panel-align
							figure.article-panel__image
								img(src="img/img-min-1.jpg", alt="")
							.article-panel__desc
								mark.article-panel__rubric Путешествия
								h1.article-panel__heading VIII Архипелагская экспедиция
								p.article-panel__text Русский крейсерский клуб вновь отправился в путь
								time.article-panel__date 23 марта в 15:39

					.share
						p.share__text Поделиться в социальных сетях
						.row.row-offset-10
							.col-4
								a(href="#").share__btn.share__btn--fb
									+icon('ico-social-fb')
									span.share__btn-text Поделиться в facebook
							.col-4
								a(href="#").share__btn.share__btn--vk
									+icon('ico-social-vk')
									span.share__btn-text Поделиться в ВКонтакте
							.col-4
								a(href="#").share__btn.share__btn--tw
									+icon('ico-social-tw')
									span.share__btn-text Поделиться в twitter

					.article-content

						p Участники экспедиции поставили перед собой задачу посетить ряд исторических мест, среди них, прежде всего, крепость в итальянском городе Анкона. Также в плане заходы в Равенну, Венецию, Лагуну ди Марано, Порторож, архипелаг Бриони и Пулу.

						p Экспедиция стартовала 27 апреля и проходит в рамках историко-патриотического проекта Русского крейсерского клуба, цель которого «открытие порой незаслуженно забытых страниц истории русского флота».

						figure.article-image(data-animation="animated fadeInUp")
							.article-image-in
								img(src="img/img-map-1.jpg", alt="")
								.share-toggle
									button.share-toggle__btn
										+icon('ico-social-share')
									.share-toggle__dropdown
										a(href="#").share__btn.share__btn--fb
											+icon('ico-social-fb')
								
										a(href="#").share__btn.share__btn--vk
											+icon('ico-social-vk')
								
										a(href="#").share__btn.share__btn--tw
											+icon('ico-social-tw')
								figcaption.article-image__caption
									.article-image__caption-in Маршрут экспедиции

						p Город Анкона был основан греками в 387 г. до н. э. С их легкой руки он получил имя Αγκων — «локоть», из-за «согнутости» мыса, на котором располагается. В конце 18 века, пытаясь отбить у французов крепость, русские моряки под командованием Войновича осаждали ее в течение 1,5 месяца. Именно эта часть его истории привлекла путешественников.

						p Впрочем, этот этап маршрута уже пройден:

						.images-carousel.is-not_offset.owl-carousel.js-carousel-images(data-animation="animated fadeInUp")
							figure.images-item
								img(src="img/img-legacy-1.jpg", alt="img-1")
								.share-toggle
									button.share-toggle__btn
										+icon('ico-social-share')
									.share-toggle__dropdown
										a(href="#").share__btn.share__btn--fb
											+icon('ico-social-fb')
								
										a(href="#").share__btn.share__btn--vk
											+icon('ico-social-vk')
								
										a(href="#").share__btn.share__btn--tw
											+icon('ico-social-tw')
							figure.images-item
								img(src="img/img-legacy-2.jpg", alt="img-2")
								.share-toggle
									button.share-toggle__btn
										+icon('ico-social-share')
									.share-toggle__dropdown
										a(href="#").share__btn.share__btn--fb
											+icon('ico-social-fb')
								
										a(href="#").share__btn.share__btn--vk
											+icon('ico-social-vk')
								
										a(href="#").share__btn.share__btn--tw
											+icon('ico-social-tw')
							figure.images-item
								img(src="img/img-legacy-3.jpg", alt="img-3")
								.share-toggle
									button.share-toggle__btn
										+icon('ico-social-share')
									.share-toggle__dropdown
										a(href="#").share__btn.share__btn--fb
											+icon('ico-social-fb')
								
										a(href="#").share__btn.share__btn--vk
											+icon('ico-social-vk')
								
										a(href="#").share__btn.share__btn--tw
											+icon('ico-social-tw')


						p А это уже ночная Венеция:

						figure.article-image(data-animation="animated fadeInUp")
							.article-image-in
								img(src="img/img-legacy-2.jpg", alt="")
								.share-toggle
									button.share-toggle__btn
										+icon('ico-social-share')
									.share-toggle__dropdown
										a(href="#").share__btn.share__btn--fb
											+icon('ico-social-fb')
								
										a(href="#").share__btn.share__btn--vk
											+icon('ico-social-vk')
								
										a(href="#").share__btn.share__btn--tw
											+icon('ico-social-tw')


						p «Когда здесь нет туристов, когда город замирает после дневного гула и суеты, когда Венеция ненадолго становится сама собой». Из блога Андрея Шаркова

						p Сейчас лодки «восьмой Архипелагской» пребывают в живописной Словении, а завтра с утра направятся в Хорватию, чтобы побывать на архипелаге Бриони, излюбленном месте отдыха президента социалистической Югославии Тито. Отсюда его яхта «Чайка» отправлялась с визитами по государственным делам и по личным.

						.row
							.col-lg-10.push-lg-1

								.images-carousel.is-not_offset.owl-carousel.js-carousel-images(data-animation="animated fadeInUp")
									figure.images-item
										img(src="img/img-1.jpg", alt="«Чайка» Тито итальянского происхождения. Начинала она как рефрижераторное судно для перевозки бананов из Африки. Вот что значит продвинуться по службе.")
										.share-toggle
											button.share-toggle__btn
												+icon('ico-social-share')
											.share-toggle__dropdown
												a(href="#").share__btn.share__btn--fb
													+icon('ico-social-fb')
										
												a(href="#").share__btn.share__btn--vk
													+icon('ico-social-vk')
										
												a(href="#").share__btn.share__btn--tw
													+icon('ico-social-tw')
									figure.images-item
										img(src="img/img-2.jpg", alt="«Чайка» Тито итальянского происхождения.")
										.share-toggle
											button.share-toggle__btn
												+icon('ico-social-share')
											.share-toggle__dropdown
												a(href="#").share__btn.share__btn--fb
													+icon('ico-social-fb')
										
												a(href="#").share__btn.share__btn--vk
													+icon('ico-social-vk')
										
												a(href="#").share__btn.share__btn--tw
													+icon('ico-social-tw')


						p Еще со времен Тито, которому именитые гости любили преподносить экзотические подарки, здесь обосновались жирафы, зебры, слоны и ламы. Но не только. В здешних землях можно напасть и на след динозавра.

						figure.article-image(data-animation="animated fadeInUp")
							.article-image-in
								img(src="img/img-legacy-3.jpg", alt="")
								.share-toggle
									button.share-toggle__btn
										+icon('ico-social-share')
									.share-toggle__dropdown
										a(href="#").share__btn.share__btn--fb
											+icon('ico-social-fb')
								
										a(href="#").share__btn.share__btn--vk
											+icon('ico-social-vk')
								
										a(href="#").share__btn.share__btn--tw
											+icon('ico-social-tw')

								figcaption.article-image__caption
									.article-image__caption-in Из архива Андрея Шаркова


						p Финиширует экспедиция 10 мая в Пуле.
									

						.article-info
							.row.justify-content-center
								.col-lg-4
									p.article-info__title Авторы текста:
									ul.article-info__list
										li Ксения Швецова

								.col-lg-4
									p.article-info__title Авторы изображений:
									ul.article-info__list
										li Юлия Кочина

								.col-lg-4
									p.article-info__title Компании:
									ul.article-info__list
										li ООО «Solvar Voyager Россия»
										li Christopher Sam Soon
										li Gloucester Maritime Heritage Center


						.row
							.col-lg-6

								ul.article-tags
									li Тэги:
									li
										a(href="#").article-tags__btn Архипелагская экспедицияе
									li
										a(href="#").article-tags__btn Путешествия
									li
										a(href="#").article-tags__btn Русский крейсерский клуб

							.col-lg-6

								p.article-error Нашли ошибку в тексте — выделите нужный фрагмент и нажмите ctrl+enter, либо <a href="#">нажмите здесь</a>.

						

				.col-lg-3
					figure.article-banner.js-fixed
						img(src="img/img-banner-1.jpg", alt="")

			.row
				.col-lg-9

					.share
						p.share__text Поделиться в социальных сетях
						.row.row-offset-10
							.col-4
								a(href="#").share__btn.share__btn--fb
									+icon('ico-social-fb')
									span.share__btn-text Поделиться в facebook
							.col-4
								a(href="#").share__btn.share__btn--vk
									+icon('ico-social-vk')
									span.share__btn-text Поделиться в ВКонтакте
							.col-4
								a(href="#").share__btn.share__btn--tw
									+icon('ico-social-tw')
									span.share__btn-text Поделиться в twitter
					
					.article-comments
						img(src="img/img-comments.png", alt="")

				.col-lg-3

					.article-widget
						img(src="img/img-widget.png", alt="")
	// Article :: End

	// Media :: Start

	section.media
		.container-fluid

			h2.media__read Читайте также

			ul.media__list
				li.col-12.col-sm-6.col-md-4.col-xl-3.is-media-column

					a(href="#").media-banner
						img(src="img/img-banner-1.jpg", alt="")

					.media-offer
						p.media-offer__text У Вас есть интересный материал на тему яхтинга?
						a(href="#").btn.btn-dark предложить

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						figure.media-article__image
							img(src="img/img-media-1.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric Индустрия
							h3.media-article__title Блеск и нищета Moscow Boat Show 2016
							p.media-article__text Редактор itBoat побывала на крупнейшей российской выставке и поделилась впечатлениями от увиденного.
				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-photo
						figure.media-photo__image
							img(src="img/img-media-2.jpg", alt="")
						.media-photo__desc
							mark.media-photo__rubric Фото дня
							h3.media-photo__title Прогулялся по небу

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						time.media-news__date сегодня в 09:30
						figure.media-news__image
							+icon('ico-set-1')
						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title На акватории Финского залива досрочно завершился ЧР в классах «Четвертьтонник»
				

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						time.media-news__date 23 марта в 15:39
						figure.media-news__image
							+icon('ico-set-2')
						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title OCEAN TV переделает советский катер в эксплорер для экспедиции по рекам России

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						span.media-news__xl
							+icon('ico-xl')
						time.media-news__date 23 марта в 15:39
						figure.media-news__image
							+icon('ico-set-3')

						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title Numarine спустила на воду первый корпус 

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						span.media-article__xl
							+icon('ico-xl')
						figure.media-article__image
							img(src="img/img-media-3.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric парусный спорт
							h3.media-article__title Как прошли первые гонки нового сезона RC44 Championship
							p.media-article__text На Бермудах, где состоялся первый этап нового сезона RC44 Championship Tour, погода и соперники преподнесли множество сюрпризов — не всегда...

				
				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-photo
						span.media-photo__xl
							+icon('ico-xl')
						figure.media-photo__image
							img(src="img/img-media-8.jpg", alt="")
						.media-photo__desc
							mark.media-photo__rubric Фото дня
							h3.media-photo__title Суперяхта с улыбкой

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						figure.media-article__image
							img(src="img/img-media-9.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric парусный спорт
							h3.media-article__title Неделя до Extreme Sailing Series 2016: что нового?
							p.media-article__text Крылатые катамараны, длинные маршруты и новая команда на стартовой прямой. В этом году регата Extreme Sailing Series полна интриг

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						figure.media-article__image
							img(src="img/img-media-4.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric Люди
							h3.media-article__title Игорь Симчич, Esimit Europa: «Наша цель — выиграть, а не изображать романтиков»
							p.media-article__text Интервью с владельцем яхты, которая никогда не проигрывает.
				

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						time.media-news__date сегодня в 09:30
						figure.media-news__image
							+icon('ico-set-4')

						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title На акватории Финского залива досрочно завершился ЧР в классах «Четвертьтонник» 

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						time.media-news__date сегодня в 09:30
						figure.media-news__image
							+icon('ico-set-5')

						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title На акватории Финского залива досрочно завершился ЧР в классах «Четвертьтонник»

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						figure.media-article__image
							img(src="img/img-media-6.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric Люди
							h3.media-article__title Пересечь Атлантику внутри кита
							p.media-article__text 73-летний Том МакКлин намерен пересечь Атлантику в 65-тонном ките, построенном своими руками.

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-photo
						figure.media-photo__image
							img(src="img/img-media-5.jpg", alt="")
						.media-photo__desc
							mark.media-photo__rubric Фотогалерея
							h3.media-photo__title Восточная роскошь

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						time.media-news__date сегодня в 09:30
						figure.media-news__image
							+icon('ico-set-6')

						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title Custom Marine Group купила американских производителей катеров Fountain, Donzi, Bajaи Pro-Line

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						figure.media-article__image
							img(src="img/img-media-7.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric Юмор
							h3.media-article__title Будни яхтсмена: 10 глупейших вопросов от туристов
							p.media-article__text «Вы можете подплыть поближе к закату? А наполнить бутылки морской водой разного цвета?» Ребята, полегче, мы яхтсмены, а не супермены!

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						time.media-news__date сегодня в 09:30
						figure.media-news__image
							+icon('ico-set-7')

						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title «Конаково Ривер Клаб» выиграла четвертый этап «Национальной парусной Лиги» в высшем дивизионе

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						span.media-news__xl
							+icon('ico-xl')
						time.media-news__date 23 марта в 15:39
						figure.media-news__image
							+icon('ico-set-8')

						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title Новая Зеландия выиграла Кубок «Америки»

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						figure.media-article__image
							img(src="img/img-media-1.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric Индустрия
							h3.media-article__title Блеск и нищета Moscow Boat Show 2016
							p.media-article__text Редактор itBoat побывала на крупнейшей российской выставке и поделилась впечатлениями от увиденного.


			.media-ctrl
				a(href="#").btn.btn-more Показать ещё

	// Media :: End