---
title: Фотогалерея
bodyClass: page-article
---
extends shared/_layout
block content


	.pswp(tabindex="-1", role="dialog", aria-hidden="true")
		.pswp__bg
		.pswp__scroll-wrap
			.pswp__container
				.pswp__item
				.pswp__item
				.pswp__item
			.pswp__ui.pswp__ui--hidden
				.pswp__top-bar
					.pswp__counter
					button.pswp__button.pswp__button--close
						+icon('ico-close')
					.pswp__preloader
						.pswp__preloader__icn
							.pswp__preloader__cut
								.pswp__preloader__donut


	// Popup :: Start

	.popup.popup-gallery.mfp-hide#popup-gallery

		button.popup-close(data-mfp-close)
			+icon('ico-close')
			
		.gallery-full.js-gallery-full

			.container-fluid
				.row.row-offset-100
					.col-lg-9

						button.gallery-full-thumbs__btn
							span
							span
							
						strong.gallery-full__heading MYS московского разлива

				.row.row-offset-100
					.col-lg-9
						
						.gallery-full-thumbs.js-gallery-full-thumbs
							.gallery-full-thumbs__item
								img(src="img/zoom.jpg", alt="")
							.gallery-full-thumbs__item
								img(src="img/img-gallery-2.jpg", alt="")
							.gallery-full-thumbs__item
								img(src="img/img-gallery-3.jpg", alt="")
							.gallery-full-thumbs__item
								img(src="img/img-gallery-4.jpg", alt="")
							.gallery-full-thumbs__item
								img(src="img/img-gallery-5.jpg", alt="")

						.gallery-full-dots.js-gallery-full-thumbs
							.gallery-full-dots__item
							.gallery-full-dots__item
							.gallery-full-dots__item
							.gallery-full-dots__item
							.gallery-full-dots__item

						.gallery-full-slides.owl-carousel.js-gallery-full-slides#gallery

							.gallery-full__item

								figure.gallery-full__image
									a(href="img/zoom.jpg", data-size="2048x1365").gallery-full__zoom
										img(src="img/zoom.jpg", alt="")

								.gallery-full__desc
									.gallery-full__desc-in

										.row
											.col-6.col-lg-12
												.gallery-full-social
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--fb
														+icon('ico-social-fb')
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--vk
														+icon('ico-social-vk')
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--tw
														+icon('ico-social-tw')
											.col-6.col-lg-2
												b.gallery-full__count.js-gallery-full-count 1 / 7
											.col-12.col-lg-10
												h3.gallery-full__title Премиальный финский катер AXOPAR 37 АС в максимальной комплектации

												.gallery-full__more
													p.gallery-full__text.js-readmore Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом, черными релингами и обивкой сидений рулевого и штурмана материалом типа «Алькантара».

									
							
							.gallery-full__item

								figure.gallery-full__image
									a(href="img/img-gallery-2.jpg", data-size="940x600").gallery-full__zoom
										img(src="img/img-gallery-2.jpg", alt="")

								.gallery-full__desc
									.gallery-full__desc-in

									
										.row
											.col-6.col-lg-12
												.gallery-full-social
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--fb
														+icon('ico-social-fb')
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--vk
														+icon('ico-social-vk')
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--tw
														+icon('ico-social-tw')
											.col-6.col-lg-2
												b.gallery-full__count.js-gallery-full-count 1 / 7
											.col-12.col-lg-10
												h3.gallery-full__title Премиальный финский катер AXOPAR 37 АС в максимальной комплектации

												.gallery-full__more
													p.gallery-full__text.js-readmore Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом, черными релингами и обивкой сидений рулевого и штурмана материалом типа «Алькантара».

							.gallery-full__item

								figure.gallery-full__image
									img(src="img/img-gallery-3.jpg", alt="")

								.gallery-full__desc
									.gallery-full__desc-in

									
										.row
											.col-6.col-lg-12
												.gallery-full-social
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--fb
														+icon('ico-social-fb')
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--vk
														+icon('ico-social-vk')
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--tw
														+icon('ico-social-tw')
											.col-6.col-lg-2
												b.gallery-full__count.js-gallery-full-count 1 / 7
											.col-12.col-lg-10
												h3.gallery-full__title Премиальный финский катер AXOPAR 37

												.gallery-full__more
													p.gallery-full__text.js-readmore Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом, черными релингами и обивкой сидений рулевого и штурмана материалом типа «Алькантара».

							.gallery-full__item

								figure.gallery-full__image
									img(src="img/img-gallery-4.jpg", alt="")

								.gallery-full__desc
									.gallery-full__desc-in

									
										.row
											.col-6.col-lg-12
												.gallery-full-social
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--fb
														+icon('ico-social-fb')
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--vk
														+icon('ico-social-vk')
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--tw
														+icon('ico-social-tw')
											.col-6.col-lg-2
												b.gallery-full__count.js-gallery-full-count 1 / 7
											.col-12.col-lg-10
												h3.gallery-full__title Премиальный финский катер AXOPAR 37 АС в максимальной комплектации
												
												.gallery-full__more
													p.gallery-full__text.js-readmore Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом, черными релингами и обивкой сидений рулевого и штурмана материалом типа «Алькантара».

							.gallery-full__item

								figure.gallery-full__image
									img(src="img/img-gallery-5.jpg", alt="")

								.gallery-full__desc
									.gallery-full__desc-in

									
										.row
											.col-6.col-lg-12
												.gallery-full-social
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--fb
														+icon('ico-social-fb')
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--vk
														+icon('ico-social-vk')
													a(href="#").gallery-full-social__btn.gallery-full-social__btn--tw
														+icon('ico-social-tw')
											.col-6.col-lg-2
												b.gallery-full__count.js-gallery-full-count 1 / 7
											.col-12.col-lg-10
												h3.gallery-full__title Премиальный финский катер AXOPAR 37 АС в максимальной комплектации

												.gallery-full__more
													p.gallery-full__text.js-readmore Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом, черными релингами и обивкой сидений рулевого и штурмана материалом типа «Алькантара».


					.col-lg-3

						.popup-banner
							img(src="img/banner-300.jpg", alt="")
		
	// Popup :: End


	// Article :: Start

	article.article.is-small
		.container-fluid

			.breadcrumbs
				ul.breadcrumbs__menu
					li
						a(href="#").breadcrumbs__link Главная
					li
						a(href="#").breadcrumbs__link Фотогалерея  
					li
						a(href="#").breadcrumbs__link.is-active MYS московского разлива

			.row.js-fixed-container
				.col-lg-9

					.article-panel
						.article-panel-align
							mark.article-panel__rubric ФОТОГАЛЕРЕЯ
							h1.article-panel__heading MYS московского разлива
							p.article-panel__text Как прошла первая выставка Moscow Yacht Show
							time.article-panel__date 23 марта в 15:39

					.share
						p.share__text Поделиться в социальных сетях
						.row.row-offset-10
							.col-4
								a(href="#").share__btn.share__btn--fb
									+icon('ico-social-fb')
									span.share__btn-text Поделиться в facebook
							.col-4
								a(href="#").share__btn.share__btn--vk
									+icon('ico-social-vk')
									span.share__btn-text Поделиться в ВКонтакте
							.col-4
								a(href="#").share__btn.share__btn--tw
									+icon('ico-social-tw')
									span.share__btn-text Поделиться в twitter

					.article-content

						.article-text
							p 22-24  июня в Royal Yacht Club прошла первая выставка яхт на воде Moscow Yacht Show, организованная журналом Motor Boat & Yachting Russia. Всего у причалов и на берегу было представлено 30 яхт и катеров брендов Princess, Azimut, Galeon, XO, Axopar, Finnmaster, Merry Fisher и Linssen, а также мототехника от Yamaha, BRP, BMW и автомобили Lamborghini и BMW M-серии. Казанская верфь Velvette Marine привезла флагман своего флота, модель Velvette 41 Evolution. Несмотря на дождливую и ветреную погоду, выставку посетило 1100 чел.

						
						.gallery.js-gallery(data-animation="animated fadeInUp")
							.gallery-thumbs.owl-carousel.js-gallery-thumbs
								.gallery-thumbs__item(data-gallery-index="1")
									img(src="img/img-gallery-1.jpg", alt="")
								.gallery-thumbs__item(data-gallery-index="2")
									img(src="img/img-gallery-2.jpg", alt="")
								.gallery-thumbs__item(data-gallery-index="3")
									img(src="img/img-gallery-3.jpg", alt="")
								.gallery-thumbs__item(data-gallery-index="4")
									img(src="img/img-gallery-4.jpg", alt="")
								.gallery-thumbs__item(data-gallery-index="5")
									img(src="img/img-gallery-5.jpg", alt="")
								.gallery-thumbs__item(data-gallery-index="6")
									img(src="img/img-gallery-6.jpg", alt="")
								.gallery-thumbs__item(data-gallery-index="7")
									img(src="img/img-gallery-7.jpg", alt="")

							.gallery-slides.owl-carousel.js-gallery-slides
								.gallery-slides__item
									.share-toggle
										button.share-toggle__btn
											+icon('ico-social-share')
										.share-toggle__dropdown
											a(href="#").share__btn.share__btn--fb
												+icon('ico-social-fb')
									
											a(href="#").share__btn.share__btn--vk
												+icon('ico-social-vk')
									
											a(href="#").share__btn.share__btn--tw
												+icon('ico-social-tw')
									a(href="#popup-gallery", data-mfp-gallery).gallery-slides__image
										img(src="img/img-gallery-1.jpg", alt="")
									.gallery-slides__desc
										.row
											.col-4.col-md-2.push-md-7
												b.gallery-slides__count.js-gallery-count 1 / 7
											.col-8.col-md-3.push-md-7
												a(href="photogallery-list.html").btn.btn-white-empty Показать все
											.col-12.col-md-7.pull-md-5
												h3.gallery-slides__title Премиальный финский катер AXOPAR 37 АС в максимальной комплектации

										p.gallery-slides__text Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом, черными релингами и обивкой сидений рулевого и штурмана материалом типа «Алькантара».

								.gallery-slides__item
									.share-toggle
										button.share-toggle__btn
											+icon('ico-social-share')
										.share-toggle__dropdown
											a(href="#").share__btn.share__btn--fb
												+icon('ico-social-fb')
									
											a(href="#").share__btn.share__btn--vk
												+icon('ico-social-vk')
									
											a(href="#").share__btn.share__btn--tw
												+icon('ico-social-tw')
									a(href="#popup-gallery", data-mfp-gallery).gallery-slides__image
										img(src="img/img-gallery-2.jpg", alt="")
									.gallery-slides__desc
										.row
											.col-4.col-md-2.push-md-7
												b.gallery-slides__count.js-gallery-count 1 / 7
											.col-8.col-md-3.push-md-7
												a(href="photogallery-list.html").btn.btn-white-empty Показать все
											.col-12.col-md-7.pull-md-5
												h3.gallery-slides__title Премиальный финский катер AXOPAR 37 АС

										p.gallery-slides__text Российский дизайнер Макс Живов представил концепт HydroHouse, являющийся одновременно плавучим домом, пристанью для лодок, гаражом и парковкой для гидроплана. Судно состоит из сборных модулей и в разобранном состоянии перевозится в двух небольших грузовиках. Внутри имеется гостиная с камбузом, мастер-каюта, две гостевые каюты, ванная комната и гараж. Длина хаусбота — 15 м, общая площадь — 76 м2. Хаусбот оснащен солнечными батареями площадью 65 м2 и двумя электродвигателями.

								.gallery-slides__item
									.share-toggle
										button.share-toggle__btn
											+icon('ico-social-share')
										.share-toggle__dropdown
											a(href="#").share__btn.share__btn--fb
												+icon('ico-social-fb')
									
											a(href="#").share__btn.share__btn--vk
												+icon('ico-social-vk')
									
											a(href="#").share__btn.share__btn--tw
												+icon('ico-social-tw')
									a(href="#popup-gallery", data-mfp-gallery).gallery-slides__image
										img(src="img/img-gallery-3.jpg", alt="")
									.gallery-slides__desc
										.row
											.col-4.col-md-2.push-md-7
												b.gallery-slides__count.js-gallery-count 1 / 7
											.col-8.col-md-3.push-md-7
												a(href="photogallery-list.html").btn.btn-white-empty Показать все
											.col-12.col-md-7.pull-md-5
												h3.gallery-slides__title AXOPAR 37 АС

										p.gallery-slides__text В этом году в Transpac Honolulu Race участвовала команда под российским флагом во главе с красноярцем Афанасием Исаевым. У ребят качественно порвался грот, но к счастью на борту оказался Владимир Кулиниченко — тот самый, который отвечал за паруса на легендарной советской яхте «Фазиси» во время кругосветки Whitbread Round the World Race. Читайте ниже перевод статьи о команде с официального сайта регаты.

								.gallery-slides__item
									.share-toggle
										button.share-toggle__btn
											+icon('ico-social-share')
										.share-toggle__dropdown
											a(href="#").share__btn.share__btn--fb
												+icon('ico-social-fb')
									
											a(href="#").share__btn.share__btn--vk
												+icon('ico-social-vk')
									
											a(href="#").share__btn.share__btn--tw
												+icon('ico-social-tw')
									a(href="#popup-gallery", data-mfp-gallery).gallery-slides__image
										img(src="img/img-gallery-4.jpg", alt="")
									.gallery-slides__desc
										.row
											.col-4.col-md-2.push-md-7
												b.gallery-slides__count.js-gallery-count 1 / 7
											.col-8.col-md-3.push-md-7
												a(href="photogallery-list.html").btn.btn-white-empty Показать все
											.col-12.col-md-7.pull-md-5
												h3.gallery-slides__title Princess 40M

										p.gallery-slides__text 2225-мильная гонка Transpac из Лос-Анджелеса в Гонолулу, впервые проведенная в 1906 году, известна по всему миру и является одним из пунктов во множестве вишлистов, включая список Афанасия Исаева из Красноярска. Этот город-миллионник является третьим по величине в Сибири, но находится далеко от большой воды. Как же его экипаж из 15 человек на Grand Mistral 80 Weddell 1996 года попал на эту гонку и завершил ее маршрут за почти 11 дней? Это длинная история, полная неожиданных поворотов, но большую роль в том, что российской команде удалось добраться до Гонолулу, сыграл второй шкипер Владимир Кулиниченко.

								.gallery-slides__item
									.share-toggle
										button.share-toggle__btn
											+icon('ico-social-share')
										.share-toggle__dropdown
											a(href="#").share__btn.share__btn--fb
												+icon('ico-social-fb')
									
											a(href="#").share__btn.share__btn--vk
												+icon('ico-social-vk')
									
											a(href="#").share__btn.share__btn--tw
												+icon('ico-social-tw')
									a(href="#popup-gallery", data-mfp-gallery).gallery-slides__image
										img(src="img/img-gallery-5.jpg", alt="")
									.gallery-slides__desc
										.row
											.col-4.col-md-2.push-md-7
												b.gallery-slides__count.js-gallery-count 1 / 7
											.col-8.col-md-3.push-md-7
												a(href="photogallery-list.html").btn.btn-white-empty Показать все
											.col-12.col-md-7.pull-md-5
												h3.gallery-slides__title XO 270

										p.gallery-slides__text Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом.

								.gallery-slides__item
									.share-toggle
										button.share-toggle__btn
											+icon('ico-social-share')
										.share-toggle__dropdown
											a(href="#").share__btn.share__btn--fb
												+icon('ico-social-fb')
									
											a(href="#").share__btn.share__btn--vk
												+icon('ico-social-vk')
									
											a(href="#").share__btn.share__btn--tw
												+icon('ico-social-tw')
									a(href="#popup-gallery", data-mfp-gallery).gallery-slides__image
										img(src="img/img-gallery-6.jpg", alt="")
									.gallery-slides__desc
										.row
											.col-4.col-md-2.push-md-7
												b.gallery-slides__count.js-gallery-count 1 / 7
											.col-8.col-md-3.push-md-7
												a(href="photogallery-list.html").btn.btn-white-empty Показать все
											.col-12.col-md-7.pull-md-5
												h3.gallery-slides__title Linssen Grand Sturdy 43.9 AC

										p.gallery-slides__text Полностью построенная и спроектированная в СССР эта красная алюминиевая лодка наделала много шума в кругосветке 1989–90 гг., остальные участники которой были гораздо больше, тяжелей и быстрей. В этом необычно узком, легковесном дизайне высота надводного борта была в два раза меньше, чем у конкурентов, и он выглядел именно таким, каким и был — очень и очень мокрым.

								.gallery-slides__item
									.share-toggle
										button.share-toggle__btn
											+icon('ico-social-share')
										.share-toggle__dropdown
											a(href="#").share__btn.share__btn--fb
												+icon('ico-social-fb')
									
											a(href="#").share__btn.share__btn--vk
												+icon('ico-social-vk')
									
											a(href="#").share__btn.share__btn--tw
												+icon('ico-social-tw')
									a(href="#popup-gallery", data-mfp-gallery).gallery-slides__image
										img(src="img/img-gallery-7.jpg", alt="")
									.gallery-slides__desc
										.row
											.col-4.col-md-2.push-md-7
												b.gallery-slides__count.js-gallery-count 1 / 7
											.col-8.col-md-3.push-md-7
												a(href="photogallery-list.html").btn.btn-white-empty Показать все
											.col-12.col-md-7.pull-md-5
												h3.gallery-slides__title XO 270, Baja 35 Outlaw и Axopar 37

										p.gallery-slides__text Тем не менее, при бюджете намного более скромном, чем у соперников, команде «Фазиси» удалось обойти вокруг света более-менее в целости и сохранности, превратив лодку из аутсайдера в культовую. И когда они сделали это, Кули сошел с борта на берег и стал производителем парусов в Коннектикуте, женился на американке и с тех пор живет во Флориде.


						
						.article-info
							.row.justify-content-center
								.col-lg-4
									p.article-info__title Авторы текста:
									ul.article-info__list
										li Ксения Швецова

								.col-lg-4
									p.article-info__title Авторы изображений:
									ul.article-info__list
										li Motor Boat & Yachting

								.col-lg-4
									p.article-info__title Компании:
									ul.article-info__list
										li ООО «Solvar Voyager Россия»
										li Christopher Sam Soon
										li Gloucester Maritime Heritage Center


						.row
							.col-lg-6

								ul.article-tags
									li Тэги:
									li
										a(href="#").article-tags__btn Moscow Yacht Show

							.col-lg-6

								p.article-error Нашли ошибку в тексте — выделите нужный фрагмент и нажмите ctrl+enter, либо <a href="#">нажмите здесь</a>.

						

				.col-lg-3
					figure.article-banner.js-fixed
						img(src="img/img-banner-1.jpg", alt="")

			.row
				.col-lg-9

					.share
						p.share__text Поделиться в социальных сетях
						.row.row-offset-10
							.col-4
								a(href="#").share__btn.share__btn--fb
									+icon('ico-social-fb')
									span.share__btn-text Поделиться в facebook
							.col-4
								a(href="#").share__btn.share__btn--vk
									+icon('ico-social-vk')
									span.share__btn-text Поделиться в ВКонтакте
							.col-4
								a(href="#").share__btn.share__btn--tw
									+icon('ico-social-tw')
									span.share__btn-text Поделиться в twitter
					
					.article-comments
						img(src="img/img-comments.png", alt="")

				.col-lg-3

					.article-widget
						img(src="img/img-widget.png", alt="")

	// Article :: End

	// Media :: Start

	section.media
		.container-fluid
			h2.media__read Читайте также

			ul.media__list
				li.col-12.col-sm-6.col-md-4.col-xl-3.is-media-column

					a(href="#").media-banner
						img(src="img/img-banner-1.jpg", alt="")

					.media-offer
						p.media-offer__text У Вас есть интересный материал на тему яхтинга?
						a(href="#").btn.btn-dark предложить
						
				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						figure.media-article__image
							img(src="img/img-media-1.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric Индустрия
							h3.media-article__title Блеск и нищета Moscow Boat Show 2016
							p.media-article__text Редактор itBoat побывала на крупнейшей российской выставке и поделилась впечатлениями от увиденного.
				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-photo
						figure.media-photo__image
							img(src="img/img-media-2.jpg", alt="")
						.media-photo__desc
							mark.media-photo__rubric Фото дня
							h3.media-photo__title Прогулялся по небу

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						time.media-news__date сегодня в 09:30
						figure.media-news__image
							+icon('ico-set-1')
						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title На акватории Финского залива досрочно завершился ЧР в классах «Четвертьтонник»

				

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						time.media-news__date 23 марта в 15:39
						figure.media-news__image
							+icon('ico-set-2')
						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title OCEAN TV переделает советский катер в эксплорер для экспедиции по рекам России

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						span.media-news__xl
							+icon('ico-xl')
						time.media-news__date 23 марта в 15:39
						figure.media-news__image
							+icon('ico-set-3')

						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title Numarine спустила на воду первый корпус 

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						span.media-article__xl
							+icon('ico-xl')
						figure.media-article__image
							img(src="img/img-media-3.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric парусный спорт
							h3.media-article__title Как прошли первые гонки нового сезона RC44 Championship
							p.media-article__text На Бермудах, где состоялся первый этап нового сезона RC44 Championship Tour, погода и соперники преподнесли множество сюрпризов — не всегда...

				
				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-photo
						span.media-photo__xl
							+icon('ico-xl')
						figure.media-photo__image
							img(src="img/img-media-8.jpg", alt="")
						.media-photo__desc
							mark.media-photo__rubric Фото дня
							h3.media-photo__title Суперяхта с улыбкой

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						figure.media-article__image
							img(src="img/img-media-9.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric парусный спорт
							h3.media-article__title Неделя до Extreme Sailing Series 2016: что нового?
							p.media-article__text Крылатые катамараны, длинные маршруты и новая команда на стартовой прямой. В этом году регата Extreme Sailing Series полна интриг

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						figure.media-article__image
							img(src="img/img-media-4.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric Люди
							h3.media-article__title Игорь Симчич, Esimit Europa: «Наша цель — выиграть, а не изображать романтиков»
							p.media-article__text Интервью с владельцем яхты, которая никогда не проигрывает.
				

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						time.media-news__date сегодня в 09:30
						figure.media-news__image
							+icon('ico-set-4')

						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title На акватории Финского залива досрочно завершился ЧР в классах «Четвертьтонник» 

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						time.media-news__date сегодня в 09:30
						figure.media-news__image
							+icon('ico-set-5')

						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title На акватории Финского залива досрочно завершился ЧР в классах «Четвертьтонник»

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						figure.media-article__image
							img(src="img/img-media-6.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric Люди
							h3.media-article__title Пересечь Атлантику внутри кита
							p.media-article__text 73-летний Том МакКлин намерен пересечь Атлантику в 65-тонном ките, построенном своими руками.

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-photo
						figure.media-photo__image
							img(src="img/img-media-5.jpg", alt="")
						.media-photo__desc
							mark.media-photo__rubric Фотогалерея
							h3.media-photo__title Восточная роскошь

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						time.media-news__date сегодня в 09:30
						figure.media-news__image
							+icon('ico-set-6')

						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title Custom Marine Group купила американских производителей катеров Fountain, Donzi, Bajaи Pro-Line

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						figure.media-article__image
							img(src="img/img-media-7.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric Юмор
							h3.media-article__title Будни яхтсмена: 10 глупейших вопросов от туристов
							p.media-article__text «Вы можете подплыть поближе к закату? А наполнить бутылки морской водой разного цвета?» Ребята, полегче, мы яхтсмены, а не супермены!

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						time.media-news__date сегодня в 09:30
						figure.media-news__image
							+icon('ico-set-7')

						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title «Конаково Ривер Клаб» выиграла четвертый этап «Национальной парусной Лиги» в высшем дивизионе

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-news
						span.media-news__xl
							+icon('ico-xl')
						time.media-news__date 23 марта в 15:39
						figure.media-news__image
							+icon('ico-set-8')

						.media-news__desc
							mark.media-news__rubric НОВОСТИ
							h3.media-news__title Новая Зеландия выиграла Кубок «Америки»

				li.col-12.col-sm-6.col-md-4.col-xl-3
					a(href="#").media-article
						figure.media-article__image
							img(src="img/img-media-1.jpg", alt="")
						.media-article__desc
							mark.media-article__rubric Индустрия
							h3.media-article__title Блеск и нищета Moscow Boat Show 2016
							p.media-article__text Редактор itBoat побывала на крупнейшей российской выставке и поделилась впечатлениями от увиденного.


			.media-ctrl
				a(href="#").btn.btn-more Показать ещё

	// Media :: End