---
title: Верфи 
bodyClass: page-shipyard
---
extends shared/_layout
block content


	// Popup :: Start

	.popup.popup-gallery.mfp-hide#popup-gallery

		button.popup-close(data-mfp-close)
			+icon('ico-close')
			
		.gallery-full.js-gallery-full
			.container-fluid

				.gallery-full__container

					button.gallery-full-thumbs__btn
						span
						span
						
					strong.gallery-full__heading MYS московского разлива

				.gallery-full__container
					.gallery-full__content

						.gallery-full-thumbs.js-gallery-full-thumbs
							.gallery-full-thumbs__item
								img(src="img/img-snipyard-1.jpg", alt="")
							.gallery-full-thumbs__item
								img(src="img/img-snipyard-2.jpg", alt="")
							.gallery-full-thumbs__item
								img(src="img/img-snipyard-3.jpg", alt="")
							.gallery-full-thumbs__item
								img(src="img/img-snipyard-4.jpg", alt="")
							.gallery-full-thumbs__item
								img(src="img/img-snipyard-5.jpg", alt="")
							.gallery-full-thumbs__item
								img(src="img/img-snipyard-6.jpg", alt="")

						.gallery-full-dots.js-gallery-full-dots
							.gallery-full-dots__item
							.gallery-full-dots__item
							.gallery-full-dots__item
							.gallery-full-dots__item
							.gallery-full-dots__item
							.gallery-full-dots__item

						.gallery-full-slides.owl-carousel.js-gallery-full-slides

							.gallery-full__item

								figure.gallery-full__image
									a(href="img/img-snipyard-1.jpg", data-fancybox="gallery").gallery-full__zoom
										img(src="img/img-snipyard-1.jpg", alt="")

								.gallery-full-social
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--fb
										+icon('ico-social-fb')
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--vk
										+icon('ico-social-vk')
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--tw
										+icon('ico-social-tw')

								.gallery-full__desc
									.gallery-full__desc-in

										.row
											.col-lg-2
												b.gallery-full__count.js-gallery-full-count 1 / 7
											.col-12.col-lg-10
												h3.gallery-full__title Премиальный финский катер AXOPAR 37 АС в максимальной комплектации

												.gallery-full__more
													p.gallery-full__text.js-readmore Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом, черными релингами и обивкой сидений рулевого и штурмана материалом типа «Алькантара».

							.gallery-full__item

								figure.gallery-full__image
									a(href="img/img-snipyard-2.jpg", data-fancybox="gallery").gallery-full__zoom
										img(src="img/img-snipyard-2.jpg", alt="")

								.gallery-full-social
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--fb
										+icon('ico-social-fb')
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--vk
										+icon('ico-social-vk')
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--tw
										+icon('ico-social-tw')

								.gallery-full__desc
									.gallery-full__desc-in
										.row
											.col-lg-2
												b.gallery-full__count.js-gallery-full-count 1 / 7
											.col-12.col-lg-10
												h3.gallery-full__title Премиальный финский катер AXOPAR 37 АС в максимальной комплектации

												.gallery-full__more
													p.gallery-full__text.js-readmore Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом, черными релингами и обивкой сидений рулевого и штурмана материалом типа «Алькантара».

							.gallery-full__item

								figure.gallery-full__image
									a(href="img/img-snipyard-3.jpg", data-fancybox="gallery").gallery-full__zoom
										img(src="img/img-snipyard-3.jpg", alt="")

								.gallery-full-social
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--fb
										+icon('ico-social-fb')
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--vk
										+icon('ico-social-vk')
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--tw
										+icon('ico-social-tw')

								.gallery-full__desc
									.gallery-full__desc-in
									
										.row
											.col-lg-2
												b.gallery-full__count.js-gallery-full-count 1 / 7
											.col-12.col-lg-10
												h3.gallery-full__title Премиальный финский катер AXOPAR 37

												.gallery-full__more
													p.gallery-full__text.js-readmore Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом, черными релингами и обивкой сидений рулевого и штурмана материалом типа «Алькантара».

							.gallery-full__item

								figure.gallery-full__image
									a(href="img/img-snipyard-4.jpg", data-fancybox="gallery").gallery-full__zoom
										img(src="img/img-snipyard-4.jpg", alt="")

								.gallery-full-social
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--fb
										+icon('ico-social-fb')
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--vk
										+icon('ico-social-vk')
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--tw
										+icon('ico-social-tw')

								.gallery-full__desc
									.gallery-full__desc-in

										.row
											.col-lg-2
												b.gallery-full__count.js-gallery-full-count 1 / 7
											.col-12.col-lg-10
												h3.gallery-full__title Премиальный финский катер AXOPAR 37 АС в максимальной комплектации
												
												.gallery-full__more
													p.gallery-full__text.js-readmore Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом, черными релингами и обивкой сидений рулевого и штурмана материалом типа «Алькантара».

							.gallery-full__item

								figure.gallery-full__image
									a(href="img/img-snipyard-5.jpg", data-fancybox="gallery").gallery-full__zoom
										img(src="img/img-snipyard-5.jpg", alt="")

								.gallery-full-social
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--fb
										+icon('ico-social-fb')
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--vk
										+icon('ico-social-vk')
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--tw
										+icon('ico-social-tw')

								.gallery-full__desc
									.gallery-full__desc-in

									
										.row
											.col-lg-2
												b.gallery-full__count.js-gallery-full-count 1 / 7
											.col-12.col-lg-10
												h3.gallery-full__title Премиальный финский катер AXOPAR 37 АС в максимальной комплектации

												.gallery-full__more
													p.gallery-full__text.js-readmore Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом, черными релингами и обивкой сидений рулевого и штурмана материалом типа «Алькантара».


							.gallery-full__item

								figure.gallery-full__image
									a(href="img/img-snipyard-6.jpg", data-fancybox="gallery").gallery-full__zoom
										img(src="img/img-snipyard-6.jpg", alt="")

								.gallery-full-social
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--fb
										+icon('ico-social-fb')
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--vk
										+icon('ico-social-vk')
									a(href="#").gallery-full-social__btn.gallery-full-social__btn--tw
										+icon('ico-social-tw')

								.gallery-full__desc
									.gallery-full__desc-in
									
										.row
											.col-lg-2
												b.gallery-full__count.js-gallery-full-count 1 / 7
											.col-12.col-lg-10
												h3.gallery-full__title Премиальный финский катер AXOPAR 37 АС в максимальной комплектации

												.gallery-full__more
													p.gallery-full__text.js-readmore Просторная рубка-салон оснащена большими раздвижными дверьми с обоих бортов. Полноразмерная тентовая крыша позволит наслаждаться солнцем и небом в ветреную погоду, и позволит превращать обеденную зону на шестерых человек в зону под открытым небом. На борту расположены две каюты: носовая и кормовая с двуспальными кроватями. Планировка катера предусматривает просторный лежак для загара поверх кормовой каюты и просторный диван в носовой части палубы. Данный катер выполнен в эксклюзивной спортивной комплектации «R» c серым корпусом, черными релингами и обивкой сидений рулевого и штурмана материалом типа «Алькантара».

					.gallery-full__sidebar

						.banner-300
							img(src="img/banner-300.jpg", alt="")


	// Popup :: End
	

	// Snipyard :: Start

	.shipyard
		.container-fluid

			.breadcrumbs
				ul.breadcrumbs__menu(itemscope itemtype="http://schema.org/BreadcrumbList")
					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link Главная
						meta(itemprop="position" content="1")

					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link Каталог
						meta(itemprop="position" content="2")

					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link Верфи
						meta(itemprop="position" content="3")

					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link Обычные
						meta(itemprop="position" content="4")

					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link.is-activeArcadia
						meta(itemprop="position" content="5")

			.shipyard-head
				figure.shipyard-head__image
					img(src="img/logo-1.png", alt="")
				.shipyard-head__desc
					mark.shipyard-head__rubric Верфи
					h1.shipyard-head__title Arcadia
					p.shipyard-head__country
						img(src="img/img-country-1.png", alt="")
						| Италия
		
		.shipyard-gallery.owl-carousel.js-carousel-gallery
			a(href="#popup-gallery" data-mfp-gallery="1").shipyard-gallery__item
				img(src="img/img-snipyard-1.jpg", alt="")
			a(href="#popup-gallery" data-mfp-gallery="2").shipyard-gallery__item
				img(src="img/img-snipyard-2.jpg", alt="")
			a(href="#popup-gallery" data-mfp-gallery="3").shipyard-gallery__item
				img(src="img/img-snipyard-3.jpg", alt="")
			a(href="#popup-gallery" data-mfp-gallery="4").shipyard-gallery__item
				img(src="img/img-snipyard-4.jpg", alt="")
			a(href="#popup-gallery" data-mfp-gallery="5").shipyard-gallery__item
				img(src="img/img-snipyard-5.jpg", alt="")
			a(href="#popup-gallery" data-mfp-gallery="6").shipyard-gallery__item
				img(src="img/img-snipyard-6.jpg", alt="")

		.shipyard-body
			.container-fluid
				
				.shipyard-1100
					
					.row.row-offset-100
						.col-lg-8

							p Первая моторная яхта Arcadia — <a href="#">Arcadia 85</a> появилась на публике в 2010 году и сразу получила в профессиональных кругах прозвище «теплица» за свою характерную стеклянную надстройку, крыша которой к тому же была выстлана <br> фотоэлектрическими панелями. Дизайнеры действительно <a href="#">создали</a> доселе неизвестный рынку дизайн и подали его под востребованным в начале XXI века соусом экологичности.

							p Верфь призывает потенциальных заказчиков реализовать «экологическую мечту», выбирая полные инноваций яхты с минимальным отрицательным воздействием на окружающую среду. Едва дебютировав, 85-футовая «теплица» сразу получила награду Motor Boat of the Year за оригинальную концепцию жизни на борту и за превосходные мореходные качества. С тех пор молодая Arcadia, входящая в большую итальянскую промышленную группу Tre Ti, крепко утвердилась на европейской яхтенной арене и быстро шагнула в сегмент суперяхт, увеличив длину моделей до 55 м.

							p Крупные яхты Arcadia построены в особых стеклопластиковых корпусах переходного типа, разработанных в британской Национальной физической лаборатории, которые отличаются повышенной шириной и глубиной. Это позволяет отводить больше пространства для жилых помещений, а значит, обеспечивает дополнительный комфорт в длительных круизах, для которых и созданы эти «зеленые» яхты.

						.col-lg-4

							figure.banner-300
								img(src="img/img-banner-1.jpg", alt="")

					.request.request--dark
						form(action="#")
							h2.request-heading Получите консультацию по выбранным яхтам
							p.request-text Наши эксперты отвечают очень быстро
							.row.row-offset-10
								.col-md-4.col-xl-3
									input(type="text", placeholder="Имя").ui-input
								.col-md-4.col-xl-3
									input(type="email", placeholder="Email").ui-input
								.col-md-4.col-xl-3
									input(type="phone", placeholder="Телефон").ui-input
								.col-xl-3
									button.btn.btn-green.btn-block Отправить запрос
									

							small.request-caption Нажимая «Отправить запрос», вы подтверждаете, что ознакомлены, полностью согласны и принимаете условия <a href="#">политики конфиденциальности</a>, <br>а также даете согласие на обработку персональных данных.


				.tabs.js-tabs
					ul.tabs__menu.js-tabs__menu
						li.is-active
							.tabs-item
								.tabs-item-in Мегаяхты
									
						li
							.tabs-item
								.tabs-item-in Модельный ряд
						li
							.tabs-item
								.tabs-item-in В продаже на Маркете <mark>37</mark>

					.tabs__container
						.tabs__panel.js-tabs__panel.is-active

							.sorting
								form(action="#")

									.sorting-mobile

										select.ui-select
											option Алфавит по возрастанию
											option Алфавит по убывания
											option Длинна по возрастанию
											option Длинна по убывания
											option Год по возрастанию
											option Год по убывания

									.sorting-desktop

										.sorting-group
											label.sorting-check
												input(type="radio", name="sorting_models", checked).sorting-check__input
												.sorting-check__text
													| По названию
													+icon('ico-sorting')
											label.sorting-check
												input(type="radio", name="sorting_models").sorting-check__input
												.sorting-check__text
													| По длинне
													+icon('ico-sorting')
											label.sorting-check
												input(type="radio", name="sorting_models").sorting-check__input
												.sorting-check__text
													| По году выпуска
													+icon('ico-sorting')

							ul.market__list
								li.col-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-1.jpg", alt="")
										h3.market-item__title Bavaria 42 Cruiser
										p.market-item__text 38,5м (2010 г.)
								li.col-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-2.jpg", alt="")
										h3.market-item__title Sunseeker 47 Portofino
										p.market-item__text 38,5м (2010 г.)
								li.col-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-3.jpg", alt="")
										h3.market-item__title Finnmaster 60 CC
										p.market-item__text 38,5м (2010 г.)
								li.col-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-4.jpg", alt="")
										h3.market-item__title Bayliner 185 Bowrider
										p.market-item__text 38,5м (2010 г.)
								li.col-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-5.jpg", alt="")
										h3.market-item__title Sea Ray 325 Sundancer
										p.market-item__text 38,5м (2010 г.)
								li.col-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-6.jpg", alt="")
										h3.market-item__title Stingray 195 CS/CX
										p.market-item__text 38,5м (2010 г.)

								li.col-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-7.jpg", alt="")
										h3.market-item__title Bavaria 42 Cruiser
										p.market-item__text 38,5м (2010 г.)
								li.col-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-8.jpg", alt="")
										h3.market-item__title Sunseeker 47 Portofino
										p.market-item__text 38,5м (2010 г.)
								li.col-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-9.jpg", alt="")
										h3.market-item__title Finnmaster 60 CC
										p.market-item__text 38,5м (2010 г.)
								li.col-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-10.jpg", alt="")
										h3.market-item__title Bayliner 185 Bowrider
										p.market-item__text 38,5м (2010 г.)
								li.col-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-11.jpg", alt="")
										h3.market-item__title Sea Ray 325 Sundancer
										p.market-item__text 38,5м (2010 г.)
								li.col-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-12.jpg", alt="")
										h3.market-item__title Stingray 195 CS/CX
										p.market-item__text 38,5м (2010 г.)

						.tabs__panel.js-tabs__panel


							.sorting
								form(action="#")

									.sorting-mobile

										select.ui-select
											option По линейкам
											option По типам

									.sorting-desktop

										.sorting-group
											label.sorting-check
												input(type="radio", name="sorting_models", checked).sorting-check__input
												.sorting-check__text
													| По линейкам
													+icon('ico-sorting')
											label.sorting-check
												input(type="radio", name="sorting_models").sorting-check__input
												.sorting-check__text
													| По типам
													+icon('ico-sorting')
											

							.series
								h2.series__heading Серия Yacht
								.series__group

									ul.other__list
										li.col-6.col-md-4.col-xl-3
											a(href="#").other-item
												figure.other-item__image
													img(src="img/img-boat-1.jpg", alt="")
												span.other-item__rubric Dominator
												h3.other-item__title
													| Dominator 680
													span.other-item__compare
														+icon('ico-compare')
												em.other-item__price от €2 530 000,–
												p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
										li.col-6.col-md-4.col-xl-3
											a(href="#").other-item
												figure.other-item__image
													img(src="img/img-boat-2.jpg", alt="")
												span.other-item__rubric Nordhavn
												h3.other-item__title
													| Nordhavn 40
													span.other-item__compare
														+icon('ico-compare')
												em.other-item__price от €2 980 000,–
												p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
										li.col-6.col-md-4.col-xl-3
											a(href="#").other-item
												figure.other-item__image
													img(src="img/img-boat-3.jpg", alt="")
												span.other-item__rubric Serious
												h3.other-item__title
													| Gently 36'
													span.other-item__compare
														+icon('ico-compare')
												em.other-item__price от €2 530 000,–
												p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
										li.col-6.col-md-4.col-xl-3
											a(href="#").other-item
												figure.other-item__image
													img(src="img/img-boat-4.jpg", alt="")
												span.other-item__rubric Jetten
												h3.other-item__title
													| 38 Cabrio
													span.other-item__compare
														+icon('ico-compare')
												em.other-item__price от €2 530 000,–
												p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м



							.series
								h2.series__heading Серия Sport Yacht
								.series__group

									ul.other__list
										li.col-6.col-md-4.col-xl-3
											a(href="#").other-item
												figure.other-item__image
													img(src="img/img-boat-5.jpg", alt="")
												span.other-item__rubric Dominator
												h3.other-item__title
													| Dominator 680
													span.other-item__compare
														+icon('ico-compare')
												em.other-item__price от €2 530 000,–
												p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м


							.series
								h2.series__heading Серия Yacht
								.series__group

									ul.other__list
										li.col-6.col-md-4.col-xl-3
											a(href="#").other-item
												figure.other-item__image
													img(src="img/img-boat-1.jpg", alt="")
												span.other-item__rubric Dominator
												h3.other-item__title
													| Dominator 680
													span.other-item__compare
														+icon('ico-compare')
												em.other-item__price от €2 530 000,–
												p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
										li.col-6.col-md-4.col-xl-3
											a(href="#").other-item
												figure.other-item__image
													img(src="img/img-boat-2.jpg", alt="")
												span.other-item__rubric Nordhavn
												h3.other-item__title
													| Nordhavn 40
													span.other-item__compare
														+icon('ico-compare')
												em.other-item__price от €2 980 000,–
												p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
										li.col-6.col-md-4.col-xl-3
											a(href="#").other-item
												figure.other-item__image
													img(src="img/img-boat-3.jpg", alt="")
												span.other-item__rubric Serious
												h3.other-item__title
													| Gently 36'
													span.other-item__compare
														+icon('ico-compare')
												em.other-item__price от €2 530 000,–
												p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
										li.col-6.col-md-4.col-xl-3
											a(href="#").other-item
												figure.other-item__image
													img(src="img/img-boat-4.jpg", alt="")
												span.other-item__rubric Jetten
												h3.other-item__title
													| 38 Cabrio
													span.other-item__compare
														+icon('ico-compare')
												em.other-item__price от €2 530 000,–
												p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м

										li.col-6.col-md-4.col-xl-3
											a(href="#").other-item
												figure.other-item__image
													img(src="img/img-boat-2.jpg", alt="")
												span.other-item__rubric Nordhavn
												h3.other-item__title
													| Nordhavn 40
													span.other-item__compare
														+icon('ico-compare')
												em.other-item__price от €2 980 000,–
												p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
										li.col-6.col-md-4.col-xl-3
											a(href="#").other-item
												figure.other-item__image
													img(src="img/img-boat-3.jpg", alt="")
												span.other-item__rubric Serious
												h3.other-item__title
													| Gently 36'
													span.other-item__compare
														+icon('ico-compare')
												em.other-item__price от €2 530 000,–
												p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
										


						.tabs__panel.js-tabs__panel

							.sorting
								form(action="#")

									.sorting-mobile

										select.ui-select
											option Алфавит по возрастанию
											option Алфавит по убывания
											option Длинна по возрастанию
											option Длинна по убывания
											option Год по возрастанию
											option Год по убывания

									.sorting-desktop

										.sorting-group
											label.sorting-check
												input(type="radio", name="sorting_models", checked).sorting-check__input
												.sorting-check__text
													| По названию
													+icon('ico-sorting')
											label.sorting-check
												input(type="radio", name="sorting_models").sorting-check__input
												.sorting-check__text
													| По длинне
													+icon('ico-sorting')
											label.sorting-check
												input(type="radio", name="sorting_models").sorting-check__input
												.sorting-check__text
													| По году выпуска
													+icon('ico-sorting')
							
							ul.market__list
								li.col-sm-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-1.jpg", alt="")
										h3.market-item__title
											| Bavaria 42 Cruiser
											span.market-item__compare
												+icon('ico-compare')
										i.market-item__price €146 500,–
										p.market-item__text 2006 г., 100 моточасов. Черногория, Бар
								li.col-sm-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-2.jpg", alt="")
										h3.market-item__title 
											| Sunseeker 47 Portofino
											span.market-item__compare
												+icon('ico-compare')
										i.market-item__price €395 500,–
										p.market-item__text 2008 г., 200 моточасов. Италия
								li.col-sm-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-3.jpg", alt="")
										h3.market-item__title 
											| Finnmaster 60 CC
											span.market-item__compare
												+icon('ico-compare')
										i.market-item__price 98 000 руб.
										p.market-item__text 2015 г., новая (0 м/ч). Россия, кингисепп
								li.col-sm-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-4.jpg", alt="")
										h3.market-item__title 
											| Bayliner 185 Bowrider
											span.market-item__compare
												+icon('ico-compare')
										i.market-item__price 680 000 руб.
										p.market-item__text 2006 г., 200 моточасов. Россия, Серпухов
								li.col-sm-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-5.jpg", alt="")
										h3.market-item__title 
											| Sea Ray 325 Sundancer
											span.market-item__compare
												+icon('ico-compare')
										i.market-item__price €15 000,–
										p.market-item__text 1991 г., 200 моточасов. Испания, Palma
								li.col-sm-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-6.jpg", alt="")
										h3.market-item__title 
											| Stingray 195 CS/CX
											span.market-item__compare
												+icon('ico-compare')
										i.market-item__price 1 100 000 руб.
										p.market-item__text 2008 г., 244 моточасов. Россия, Саратов

								li.col-sm-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-7.jpg", alt="")
										h3.market-item__title 
											| Bavaria 42 Cruiser
											span.market-item__compare
												+icon('ico-compare')
										i.market-item__price €146 500,–
										p.market-item__text 2006 г., 100 моточасов. Черногория, Бар
								li.col-sm-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-8.jpg", alt="")
										h3.market-item__title 
											| Sunseeker 47 Portofino
											span.market-item__compare
												+icon('ico-compare')
										i.market-item__price €395 500,–
										p.market-item__text 2008 г., 200 моточасов. Италия
								li.col-sm-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-9.jpg", alt="")
										h3.market-item__title 
											| Finnmaster 60 CC
											span.market-item__compare
												+icon('ico-compare')
										i.market-item__price 98 000 руб.
										p.market-item__text 2015 г., новая (0 м/ч). Россия, кингисепп
								li.col-sm-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-10.jpg", alt="")
										h3.market-item__title 
											| Bayliner 185 Bowrider
											span.market-item__compare
												+icon('ico-compare')
										i.market-item__price 680 000 руб.
										p.market-item__text 2006 г., 200 моточасов. Россия, Серпухов
								li.col-sm-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-11.jpg", alt="")
										h3.market-item__title 
											| Sea Ray 325 Sundancer
											span.market-item__compare
												+icon('ico-compare')
										i.market-item__price €15 000,–
										p.market-item__text 1991 г., 200 моточасов. Испания, Palma
								li.col-sm-6.col-md-4.col-xl-3
									a(href="#").market-item
										figure.market-item__image
											img(src="img/img-market-12.jpg", alt="")
										h3.market-item__title 
											| Stingray 195 CS/CX
											span.market-item__compare
												+icon('ico-compare')
										i.market-item__price 1 100 000 руб.
										p.market-item__text 2008 г., 244 моточасов. Россия, Саратов
				

				.official
					h2.official-heading Официальный представитель
					ul.official-list
						li
							.official-group(itemscope itemtype="http://schema.org/Organization")
								.row.align-items-center
									.col-md-7
										.official-company
											figure.official-company__image
												img(src="img/img-official-1.jpg", alt="")
											h3.official-company__title
												<span itemprop="name">Azimut Yachts Russia</span><br>
												<span itemprop="address">Россия, Москва</span>
									.col-md-5
										.official-info
											.row
												.col-sm-6
													<span itemprop="telephone">+7 (495) 980-77-00</span><br><a href="#">Заказать звонок</a>
												.col-sm-6
													<span itemprop="email">info@azimutyachts.ru<br>azimutyachts.ru<span>

						li
							.official-group(itemscope itemtype="http://schema.org/Organization")
								.row.align-items-center
									.col-md-7
										.official-company
											figure.official-company__image
												img(src="img/img-official-2.jpg", alt="")
											h3.official-company__title
												<span itemprop="name">itBoat Boutique</span><br>
												<span itemprop="address">Россия, Москва</span>
									.col-md-5
										.official-info
											.row
												.col-sm-6
													<span itemprop="telephone"> +7 (495) 77-11-700</span><br><a href="#">Заказать звонок</a>
												.col-sm-6
													<span itemprop="email">sales@itboat.com<span><br>itboat.com

				
				.brands.brands--similar
					h3.brands__heading Аналогичные верфи
					.brands-carousel.owl-carousel.js-carousel-brands

						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-1.jpg", alt="")
							h4.brands-item__title Anytec
							span.brands-item__country Австрия
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-2.jpg", alt="")
							h4.brands-item__title Jetten
							span.brands-item__country Канада
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-3.jpg", alt="")
							h4.brands-item__title Benetti
							span.brands-item__country Андора
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-4.jpg", alt="")
							h4.brands-item__title Finnmaster
							span.brands-item__country Боливия
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-5.jpg", alt="")
							h4.brands-item__title Jetten
							span.brands-item__country Австрия
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-6.jpg", alt="")
							h4.brands-item__title Finnmaster
							span.brands-item__country Канада
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-7.jpg", alt="")
							h4.brands-item__title Anytec
							span.brands-item__country Андора
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-8.jpg", alt="")
							h4.brands-item__title Benetti
							span.brands-item__country Боливия
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-9.jpg", alt="")
							h4.brands-item__title Anytec
							span.brands-item__country Австрия
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-10.jpg", alt="")
							h4.brands-item__title Jetten
							span.brands-item__country Австрия
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-11.jpg", alt="")
							h4.brands-item__title Benetti
							span.brands-item__country Канада
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-12.jpg", alt="")
							h4.brands-item__title Finnmaster
							span.brands-item__country Боливия

	// Snipyard :: End