---
title: Верфи Мини
bodyClass: page-shipyard
---
extends shared/_layout
block content


	// Snipyard :: Start

	.shipyard
		.container-fluid

			.breadcrumbs
				ul.breadcrumbs__menu(itemscope itemtype="http://schema.org/BreadcrumbList")
					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link Главная
						meta(itemprop="position" content="1")

					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link Каталог
						meta(itemprop="position" content="2")

					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link Верфи
						meta(itemprop="position" content="3")

					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link Обычные
						meta(itemprop="position" content="4")

					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link.is-activeArcadia
						meta(itemprop="position" content="5")

			.shipyard-head
				figure.shipyard-head__image
					img(src="img/logo-1.png", alt="")
				.shipyard-head__desc
					mark.shipyard-head__rubric Верфи
					h1.shipyard-head__title Arcadia
					p.shipyard-head__country
						img(src="img/img-country-1.png", alt="")
						| Италия
		
		.shipyard-image
			img(src="img/img-snipyard.jpg", alt="")
				
		
		.shipyard-body
			.container-fluid

				.shipyard-1100
		
					.row.row-offset-100
						.col-lg-8

							p Хардтоп — это жесткая крыша, которая защищает салон от непогоды. Вариант полностью закрытой моторной яхты, когда сверху палубу прикрывает хардтоп, а сзади дверь, лучше всего подходит для холодных акваторий таких как север Европы, Балтика или внутренние водные пути России.

							p Проще всего яхту с хардтопом описать как спортивную и стильную. В ней нет ничего лишнего — отсутствие надстроек позволяет развивать высокие скорости, причем скорость и расход топлива в этом классе яхт оптимальны. Таким яхтам отдают предпочтение молодые яхтсмены, которым хочется погонять в свое удовольствие в веселой компании. На закрытых круизерах есть каюта (или несколько), а также все удобства.

							p Конечно, аналогичных размеров <a href="#">яхта с флайбриджем</a> может предложить гораздо больше пространства для отдыха на открытых палубах, но наличие флайбриджа неминуемо скажется на скоростях.

						.col-lg-4

							figure.banner-300
								img(src="img/img-banner-1.jpg", alt="")

					.request.request--dark
						form(action="#")
							h2.request-heading Получите консультацию по выбранным яхтам
							p.request-text Наши эксперты отвечают очень быстро
							.row.row-offset-10
								.col-md-4.col-xl-3
									input(type="text", placeholder="Имя").ui-input
								.col-md-4.col-xl-3
									input(type="email", placeholder="Email").ui-input
								.col-md-4.col-xl-3
									input(type="phone", placeholder="Телефон").ui-input
								.col-xl-3
									button.btn.btn-green.btn-block Отправить запрос
									

							small.request-caption Нажимая «Отправить запрос», вы подтверждаете, что ознакомлены, полностью согласны и принимаете условия <a href="#">политики конфиденциальности</a>, <br>а также даете согласие на обработку персональных данных.

				
				.market

					h2.market__heading
						b Мегаяхты

					.sorting
						form(action="#")

							.sorting-mobile

								select.ui-select
									option Алфавит по возрастанию
									option Алфавит по убывания
									option Длинна по возрастанию
									option Длинна по убывания
									option Год по возрастанию
									option Год по убывания

							.sorting-desktop

								.sorting-group
									label.sorting-check
										input(type="radio", name="sorting_models", checked).sorting-check__input
										.sorting-check__text
											| По названию
											+icon('ico-sorting')
									label.sorting-check
										input(type="radio", name="sorting_models").sorting-check__input
										.sorting-check__text
											| По длинне
											+icon('ico-sorting')
									label.sorting-check
										input(type="radio", name="sorting_models").sorting-check__input
										.sorting-check__text
											| По году выпуска
											+icon('ico-sorting')

					ul.market__list
						li.col-sm-6.col-md-4.col-xl-3
							a(href="#").market-item
								figure.market-item__image
									img(src="img/img-market-1.jpg", alt="")
								h3.market-item__title Bavaria 42 Cruiser
								p.market-item__text 38,5м (2010 г.)
						li.col-sm-6.col-md-4.col-xl-3
							a(href="#").market-item
								figure.market-item__image
									img(src="img/img-market-2.jpg", alt="")
								h3.market-item__title Sunseeker 47 Portofino
								p.market-item__text 38,5м (2010 г.)
						li.col-sm-6.col-md-4.col-xl-3
							a(href="#").market-item
								figure.market-item__image
									img(src="img/img-market-3.jpg", alt="")
								h3.market-item__title Finnmaster 60 CC
								p.market-item__text 38,5м (2010 г.)
						li.col-sm-6.col-md-4.col-xl-3
							a(href="#").market-item
								figure.market-item__image
									img(src="img/img-market-4.jpg", alt="")
								h3.market-item__title Bayliner 185 Bowrider
								p.market-item__text 38,5м (2010 г.)
						li.col-sm-6.col-md-4.col-xl-3
							a(href="#").market-item
								figure.market-item__image
									img(src="img/img-market-5.jpg", alt="")
								h3.market-item__title Sea Ray 325 Sundancer
								p.market-item__text 38,5м (2010 г.)
						li.col-sm-6.col-md-4.col-xl-3
							a(href="#").market-item
								figure.market-item__image
									img(src="img/img-market-6.jpg", alt="")
								h3.market-item__title Stingray 195 CS/CX
								p.market-item__text 38,5м (2010 г.)

						li.col-sm-6.col-md-4.col-xl-3
							a(href="#").market-item
								figure.market-item__image
									img(src="img/img-market-7.jpg", alt="")
								h3.market-item__title Bavaria 42 Cruiser
								p.market-item__text 38,5м (2010 г.)
						li.col-sm-6.col-md-4.col-xl-3
							a(href="#").market-item
								figure.market-item__image
									img(src="img/img-market-8.jpg", alt="")
								h3.market-item__title Sunseeker 47 Portofino
								p.market-item__text 38,5м (2010 г.)
						li.col-sm-6.col-md-4.col-xl-3
							a(href="#").market-item
								figure.market-item__image
									img(src="img/img-market-9.jpg", alt="")
								h3.market-item__title Finnmaster 60 CC
								p.market-item__text 38,5м (2010 г.)
						li.col-sm-6.col-md-4.col-xl-3
							a(href="#").market-item
								figure.market-item__image
									img(src="img/img-market-10.jpg", alt="")
								h3.market-item__title Bayliner 185 Bowrider
								p.market-item__text 38,5м (2010 г.)
						li.col-sm-6.col-md-4.col-xl-3
							a(href="#").market-item
								figure.market-item__image
									img(src="img/img-market-11.jpg", alt="")
								h3.market-item__title Sea Ray 325 Sundancer
								p.market-item__text 38,5м (2010 г.)
						li.col-sm-6.col-md-4.col-xl-3
							a(href="#").market-item
								figure.market-item__image
									img(src="img/img-market-12.jpg", alt="")
								h3.market-item__title Stingray 195 CS/CX
								p.market-item__text 38,5м (2010 г.)


				.official
					h2.official-heading Официальный представитель
					ul.official-list
						li
							.official-group(itemscope itemtype="http://schema.org/Organization")
								.row.align-items-center
									.col-md-7
										.official-company
											figure.official-company__image
												img(src="img/img-official-1.jpg", alt="")
											h3.official-company__title
												<span itemprop="name">Azimut Yachts Russia</span><br>
												<span itemprop="address">Россия, Москва</span>
									.col-md-5
										.official-info
											.row
												.col-6
													<span itemprop="telephone">+7 (495) 980-77-00</span><br><a href="#">Заказать звонок</a>
												.col-6
													<span itemprop="email">info@azimutyachts.ru<br>azimutyachts.ru<span>

						li
							.official-group(itemscope itemtype="http://schema.org/Organization")
								.row.align-items-center
									.col-md-7
										.official-company
											figure.official-company__image
												img(src="img/img-official-2.jpg", alt="")
											h3.official-company__title
												<span itemprop="name">itBoat Boutique</span><br>
												<span itemprop="address">Россия, Москва</span>
									.col-md-5
										.official-info
											.row
												.col-6
													<span itemprop="telephone"> +7 (495) 77-11-700</span><br><a href="#">Заказать звонок</a>
												.col-6
													<span itemprop="email">sales@itboat.com<span><br>itboat.com

				
				.brands.brands--similar
					h3.brands__heading Аналогичные верфи
					.brands-carousel.owl-carousel.js-carousel-brands

						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-1.jpg", alt="")
							h4.brands-item__title Anytec
							span.brands-item__country Австрия
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-2.jpg", alt="")
							h4.brands-item__title Jetten
							span.brands-item__country Канада
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-3.jpg", alt="")
							h4.brands-item__title Benetti
							span.brands-item__country Андора
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-4.jpg", alt="")
							h4.brands-item__title Finnmaster
							span.brands-item__country Боливия
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-5.jpg", alt="")
							h4.brands-item__title Jetten
							span.brands-item__country Австрия
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-6.jpg", alt="")
							h4.brands-item__title Finnmaster
							span.brands-item__country Канада
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-7.jpg", alt="")
							h4.brands-item__title Anytec
							span.brands-item__country Андора
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-8.jpg", alt="")
							h4.brands-item__title Benetti
							span.brands-item__country Боливия
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-9.jpg", alt="")
							h4.brands-item__title Anytec
							span.brands-item__country Австрия
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-10.jpg", alt="")
							h4.brands-item__title Jetten
							span.brands-item__country Австрия
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-11.jpg", alt="")
							h4.brands-item__title Benetti
							span.brands-item__country Канада
					
						a(href="#").brands-item
							figure.brands-item__image
								img(src="img/img-brands-12.jpg", alt="")
							h4.brands-item__title Finnmaster
							span.brands-item__country Боливия

	// Snipyard :: End