---
title: Верфи Мини
bodyClass: page-shipyard
---
extends shared/_layout
block content


	// Snipyard :: Start

	.shipyard
		.container-fluid

			.breadcrumbs
				ul.breadcrumbs__menu
					li
						a(href="#").breadcrumbs__link Главная
					li
						a(href="#").breadcrumbs__link Каталог  
					li
						a(href="#").breadcrumbs__link Верфи  
					li
						a(href="#").breadcrumbs__link Обычные
					li
						a(href="#").breadcrumbs__link.is-active Arcadia

			.shipyard-main
				figure.shipyard-main__image
					img(src="img/logo-1.png", alt="")
				.shipyard-main__desc
					mark.shipyard-main__rubric Верфи
					h1.shipyard-main__title Arcadia
					p.shipyard-main__country
						img(src="img/img-country-1.png", alt="")
						| Италия
		
		.shipyard-picture
			.shipyard-picture-item
				img(src="img/img-snipyard.jpg", alt="")

		.container-fluid
			
			.shipyard-content
				.row.row-offset-100
					.col-lg-8

						p Хардтоп — это жесткая крыша, которая защищает салон от непогоды. Вариант полностью закрытой моторной яхты, когда сверху палубу прикрывает хардтоп, а сзади дверь, лучше всего подходит для холодных акваторий таких как север Европы, Балтика или внутренние водные пути России.

						p Проще всего яхту с хардтопом описать как спортивную и стильную. В ней нет ничего лишнего — отсутствие надстроек позволяет развивать высокие скорости, причем скорость и расход топлива в этом классе яхт оптимальны. Таким яхтам отдают предпочтение молодые яхтсмены, которым хочется погонять в свое удовольствие в веселой компании. На закрытых круизерах есть каюта (или несколько), а также все удобства.

						p Конечно, аналогичных размеров <a href="#">яхта с флайбриджем</a> может предложить гораздо больше пространства для отдыха на открытых палубах, но наличие флайбриджа неминуемо скажется на скоростях.

					.col-lg-4

						figure.banner-300
							img(src="img/img-banner-1.jpg", alt="")

				.request
					form(action="#")
						h2.request-heading Заказ и консультация по яхтам Arcadia
						p.request-text Наши эксперты отвечают очень быстро
						.row.row-offset-10
							.col-lg-3
								input(type="text", placeholder="Имя").ui-input
							.col-lg-3
								input(type="email", placeholder="Email").ui-input
							.col-lg-3
								input(type="phone", placeholder="Телефон").ui-input
							.col-lg-3
								button.btn.btn-green.btn-block Отправить запрос
								

						small.request-caption Нажимая «Отправить запрос», вы подтверждаете, что ознакомлены, полностью согласны и принимаете условия <a href="#">политики конфиденциальности</a>, а также даете согласие на обработку персональных данных.


			.tabs.js-tabs
				ul.tabs__menu.js-tabs__menu
					li.is-active
						.tabs-item
							.tabs-item-in Мегаяхты
								
					li
						.tabs-item
							.tabs-item-in Модельный ряд
					li
						.tabs-item
							.tabs-item-in В продаже на Маркете <mark>37</mark>

				.tabs__container
					.tabs__panel.js-tabs__panel.is-active

						.sorting
							form(action="#")
								.sorting-group
									label.sorting-check
										input(type="radio", name="sorting_models", checked).sorting-check__input
										.sorting-check__text
											| По названию
											+icon('ico-sorting')
									label.sorting-check
										input(type="radio", name="sorting_models").sorting-check__input
										.sorting-check__text
											| По длинне
											+icon('ico-sorting')
									label.sorting-check
										input(type="radio", name="sorting_models").sorting-check__input
										.sorting-check__text
											| По году выпуска
											+icon('ico-sorting')

						ul.market__list
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-1.jpg", alt="")
									h3.market-item__title Bavaria 42 Cruiser
									p.market-item__text 2006 г., 100 моточасов. Черногория, Бар
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-2.jpg", alt="")
									h3.market-item__title Sunseeker 47 Portofino
									p.market-item__text 2008 г., 200 моточасов. Италия
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-3.jpg", alt="")
									h3.market-item__title Finnmaster 60 CC
									p.market-item__text 2015 г., новая (0 м/ч). Россия, кингисепп
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-4.jpg", alt="")
									h3.market-item__title Bayliner 185 Bowrider
									p.market-item__text 2006 г., 200 моточасов. Россия, Серпухов
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-5.jpg", alt="")
									h3.market-item__title Sea Ray 325 Sundancer
									p.market-item__text 1991 г., 200 моточасов. Испания, Palma
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-6.jpg", alt="")
									h3.market-item__title Stingray 195 CS/CX
									p.market-item__text 2008 г., 244 моточасов. Россия, Саратов

							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-7.jpg", alt="")
									h3.market-item__title Bavaria 42 Cruiser
									p.market-item__text 2006 г., 100 моточасов. Черногория, Бар
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-8.jpg", alt="")
									h3.market-item__title Sunseeker 47 Portofino
									p.market-item__text 2008 г., 200 моточасов. Италия
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-9.jpg", alt="")
									h3.market-item__title Finnmaster 60 CC
									p.market-item__text 2015 г., новая (0 м/ч). Россия, кингисепп
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-10.jpg", alt="")
									h3.market-item__title Bayliner 185 Bowrider
									p.market-item__text 2006 г., 200 моточасов. Россия, Серпухов
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-11.jpg", alt="")
									h3.market-item__title Sea Ray 325 Sundancer
									p.market-item__text 1991 г., 200 моточасов. Испания, Palma
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-12.jpg", alt="")
									h3.market-item__title Stingray 195 CS/CX
									p.market-item__text 2008 г., 244 моточасов. Россия, Саратов

					.tabs__panel.js-tabs__panel
						
						.sorting
							form(action="#")
								.sorting-group
									label.sorting-check
										input(type="radio", name="sorting_models", checked).sorting-check__input
										.sorting-check__text
											| По линейкам
											+icon('ico-sorting')
									label.sorting-check
										input(type="radio", name="sorting_models").sorting-check__input
										.sorting-check__text
											| По типам
											+icon('ico-sorting')


						.series
							h2.series__heading Серия Yacht
							.series__group

								ul.other__list
									li.col-6.col-md-4.col-xl-3
										a(href="#").other-item
											figure.other-item__image
												img(src="img/img-boat-1.jpg", alt="")
											span.other-item__rubric Dominator
											h3.other-item__title
												| Dominator 680
												span.other-item__compare
													+icon('ico-compare')
											em.other-item__price от €2 530 000,–
											p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
									li.col-6.col-md-4.col-xl-3
										a(href="#").other-item
											figure.other-item__image
												img(src="img/img-boat-2.jpg", alt="")
											span.other-item__rubric Nordhavn
											h3.other-item__title
												| Nordhavn 40
												span.other-item__compare
													+icon('ico-compare')
											em.other-item__price от €2 980 000,–
											p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
									li.col-6.col-md-4.col-xl-3
										a(href="#").other-item
											figure.other-item__image
												img(src="img/img-boat-3.jpg", alt="")
											span.other-item__rubric Serious
											h3.other-item__title
												| Gently 36'
												span.other-item__compare
													+icon('ico-compare')
											em.other-item__price от €2 530 000,–
											p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
									li.col-6.col-md-4.col-xl-3
										a(href="#").other-item
											figure.other-item__image
												img(src="img/img-boat-4.jpg", alt="")
											span.other-item__rubric Jetten
											h3.other-item__title
												| 38 Cabrio
												span.other-item__compare
													+icon('ico-compare')
											em.other-item__price от €2 530 000,–
											p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м



						.series
							h2.series__heading Серия Sport Yacht
							.series__group

								ul.other__list
									li.col-6.col-md-4.col-xl-3
										a(href="#").other-item
											figure.other-item__image
												img(src="img/img-boat-5.jpg", alt="")
											span.other-item__rubric Dominator
											h3.other-item__title
												| Dominator 680
												span.other-item__compare
													+icon('ico-compare')
											em.other-item__price от €2 530 000,–
											p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м


						.series
							h2.series__heading Серия Yacht
							.series__group

								ul.other__list
									li.col-6.col-md-4.col-xl-3
										a(href="#").other-item
											figure.other-item__image
												img(src="img/img-boat-1.jpg", alt="")
											span.other-item__rubric Dominator
											h3.other-item__title
												| Dominator 680
												span.other-item__compare
													+icon('ico-compare')
											em.other-item__price от €2 530 000,–
											p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
									li.col-6.col-md-4.col-xl-3
										a(href="#").other-item
											figure.other-item__image
												img(src="img/img-boat-2.jpg", alt="")
											span.other-item__rubric Nordhavn
											h3.other-item__title
												| Nordhavn 40
												span.other-item__compare
													+icon('ico-compare')
											em.other-item__price от €2 980 000,–
											p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
									li.col-6.col-md-4.col-xl-3
										a(href="#").other-item
											figure.other-item__image
												img(src="img/img-boat-3.jpg", alt="")
											span.other-item__rubric Serious
											h3.other-item__title
												| Gently 36'
												span.other-item__compare
													+icon('ico-compare')
											em.other-item__price от €2 530 000,–
											p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
									li.col-6.col-md-4.col-xl-3
										a(href="#").other-item
											figure.other-item__image
												img(src="img/img-boat-4.jpg", alt="")
											span.other-item__rubric Jetten
											h3.other-item__title
												| 38 Cabrio
												span.other-item__compare
													+icon('ico-compare')
											em.other-item__price от €2 530 000,–
											p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м

									li.col-6.col-md-4.col-xl-3
										a(href="#").other-item
											figure.other-item__image
												img(src="img/img-boat-2.jpg", alt="")
											span.other-item__rubric Nordhavn
											h3.other-item__title
												| Nordhavn 40
												span.other-item__compare
													+icon('ico-compare')
											em.other-item__price от €2 980 000,–
											p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
									li.col-6.col-md-4.col-xl-3
										a(href="#").other-item
											figure.other-item__image
												img(src="img/img-boat-3.jpg", alt="")
											span.other-item__rubric Serious
											h3.other-item__title
												| Gently 36'
												span.other-item__compare
													+icon('ico-compare')
											em.other-item__price от €2 530 000,–
											p.other-item__text Длина: 12,5 м<br>Ширина: 4,16 м<br>Осадка: 0,8 м
									


					.tabs__panel.js-tabs__panel

						.sorting
							form(action="#")
								.sorting-group
									label.sorting-check
										input(type="radio", name="sorting_models", checked).sorting-check__input
										.sorting-check__text
											| По цене
											+icon('ico-sorting')
									label.sorting-check
										input(type="radio", name="sorting_models").sorting-check__input
										.sorting-check__text
											| По длинне
											+icon('ico-sorting')
									label.sorting-check
										input(type="radio", name="sorting_models").sorting-check__input
										.sorting-check__text
											| По году выпуска
											+icon('ico-sorting')
						
						ul.market__list
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-1.jpg", alt="")
									h3.market-item__title
										| Bavaria 42 Cruiser
										span.market-item__compare
											+icon('ico-compare')
									i.market-item__price €146 500,–
									p.market-item__text 2006 г., 100 моточасов. Черногория, Бар
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-2.jpg", alt="")
									h3.market-item__title 
										| Sunseeker 47 Portofino
										span.market-item__compare
											+icon('ico-compare')
									i.market-item__price €395 500,–
									p.market-item__text 2008 г., 200 моточасов. Италия
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-3.jpg", alt="")
									h3.market-item__title 
										| Finnmaster 60 CC
										span.market-item__compare
											+icon('ico-compare')
									i.market-item__price 98 000 руб.
									p.market-item__text 2015 г., новая (0 м/ч). Россия, кингисепп
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-4.jpg", alt="")
									h3.market-item__title 
										| Bayliner 185 Bowrider
										span.market-item__compare
											+icon('ico-compare')
									i.market-item__price 680 000 руб.
									p.market-item__text 2006 г., 200 моточасов. Россия, Серпухов
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-5.jpg", alt="")
									h3.market-item__title 
										| Sea Ray 325 Sundancer
										span.market-item__compare
											+icon('ico-compare')
									i.market-item__price €15 000,–
									p.market-item__text 1991 г., 200 моточасов. Испания, Palma
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-6.jpg", alt="")
									h3.market-item__title 
										| Stingray 195 CS/CX
										span.market-item__compare
											+icon('ico-compare')
									i.market-item__price 1 100 000 руб.
									p.market-item__text 2008 г., 244 моточасов. Россия, Саратов

							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-7.jpg", alt="")
									h3.market-item__title 
										| Bavaria 42 Cruiser
										span.market-item__compare
											+icon('ico-compare')
									i.market-item__price €146 500,–
									p.market-item__text 2006 г., 100 моточасов. Черногория, Бар
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-8.jpg", alt="")
									h3.market-item__title 
										| Sunseeker 47 Portofino
										span.market-item__compare
											+icon('ico-compare')
									i.market-item__price €395 500,–
									p.market-item__text 2008 г., 200 моточасов. Италия
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-9.jpg", alt="")
									h3.market-item__title 
										| Finnmaster 60 CC
										span.market-item__compare
											+icon('ico-compare')
									i.market-item__price 98 000 руб.
									p.market-item__text 2015 г., новая (0 м/ч). Россия, кингисепп
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-10.jpg", alt="")
									h3.market-item__title 
										| Bayliner 185 Bowrider
										span.market-item__compare
											+icon('ico-compare')
									i.market-item__price 680 000 руб.
									p.market-item__text 2006 г., 200 моточасов. Россия, Серпухов
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-11.jpg", alt="")
									h3.market-item__title 
										| Sea Ray 325 Sundancer
										span.market-item__compare
											+icon('ico-compare')
									i.market-item__price €15 000,–
									p.market-item__text 1991 г., 200 моточасов. Испания, Palma
							li.col-sm-6.col-md-4.col-xl-3
								a(href="#").market-item
									figure.market-item__image
										img(src="img/img-market-12.jpg", alt="")
									h3.market-item__title 
										| Stingray 195 CS/CX
										span.market-item__compare
											+icon('ico-compare')
									i.market-item__price 1 100 000 руб.
									p.market-item__text 2008 г., 244 моточасов. Россия, Саратов
			

			.official
				h2.official-heading Официальный представитель
				ul.official-list
					li
						.official-group
							.row.align-items-center
								.col-md-7
									.official-company
										figure.official-company__image
											img(src="img/img-official-1.jpg", alt="")
										h3.official-company__title Azimut Yachts Russia <br>Россия, Москва
								.col-md-5
									.official-info
										.row
											.col-6
												| +7 (495) 980-77-00<br><a href="#">Заказать звонок</a>
											.col-6
												| info@azimutyachts.ru<br>azimutyachts.ru

					li
						.official-group
							.row.align-items-center
								.col-md-7
									.official-company
										figure.official-company__image
											img(src="img/img-official-2.jpg", alt="")
										h3.official-company__title itBoat Boutique<br>Россия, Москва
								.col-md-5
									.official-info
										.row
											.col-6
												| +7 (495) 77-11-700<br><a href="#">Заказать звонок</a>
											.col-6
												| sales@itboat.com<br>itboat.com

			
			.brands.brands--similar
				h3.brands__heading Аналогичные верфи
				.brands-carousel.owl-carousel.js-carousel-brands

					a(href="#").brands-item
						figure.brands-item__image
							img(src="img/img-brands-1.jpg", alt="")
						h4.brands-item__title Anytec
						span.brands-item__count 5 моделей
				
					a(href="#").brands-item
						figure.brands-item__image
							img(src="img/img-brands-2.jpg", alt="")
						h4.brands-item__title Jetten
						span.brands-item__count 19 моделей
				
					a(href="#").brands-item
						figure.brands-item__image
							img(src="img/img-brands-3.jpg", alt="")
						h4.brands-item__title Benetti
						span.brands-item__count 16 моделей
				
					a(href="#").brands-item
						figure.brands-item__image
							img(src="img/img-brands-4.jpg", alt="")
						h4.brands-item__title Finnmaster
						span.brands-item__count 5 моделей
				
					a(href="#").brands-item
						figure.brands-item__image
							img(src="img/img-brands-5.jpg", alt="")
						h4.brands-item__title Jetten
						span.brands-item__count 19 моделей
				
					a(href="#").brands-item
						figure.brands-item__image
							img(src="img/img-brands-6.jpg", alt="")
						h4.brands-item__title Finnmaster
						span.brands-item__count 5 моделей
				
					a(href="#").brands-item
						figure.brands-item__image
							img(src="img/img-brands-7.jpg", alt="")
						h4.brands-item__title Anytec
						span.brands-item__count 5 моделей
				
					a(href="#").brands-item
						figure.brands-item__image
							img(src="img/img-brands-8.jpg", alt="")
						h4.brands-item__title Benetti
						span.brands-item__count 16 моделей
				
					a(href="#").brands-item
						figure.brands-item__image
							img(src="img/img-brands-9.jpg", alt="")
						h4.brands-item__title Anytec
						span.brands-item__count 5 моделей
				
					a(href="#").brands-item
						figure.brands-item__image
							img(src="img/img-brands-10.jpg", alt="")
						h4.brands-item__title Jetten
						span.brands-item__count 19 моделей
				
					a(href="#").brands-item
						figure.brands-item__image
							img(src="img/img-brands-11.jpg", alt="")
						h4.brands-item__title Benetti
						span.brands-item__count 16 моделей
				
					a(href="#").brands-item
						figure.brands-item__image
							img(src="img/img-brands-12.jpg", alt="")
						h4.brands-item__title Finnmaster
						span.brands-item__count 5 моделей

	// Snipyard :: End