---
title: Xl / Модель
bodyClass: page-xl
---
extends shared/_layout
block content
	

	// Snipyard :: Start

	.shipyard(itemscope itemtype="http://schema.org/Offer")

		meta(itemprop="name" content="Dannebrog")
		meta(itemprop="description" content="Длина судна: 78.43м, Верфь: Danish Royal Dockyard, Год постройки: 1931г.")
		meta(itemprop="price" content="135000")
		meta(itemprop="priceCurrency" content="EUR")
		mete(itemprop="seller" content="Царский брокер в Австрии")

		.container-fluid

			.breadcrumbs
				ul.breadcrumbs__menu(itemscope itemtype="http://schema.org/BreadcrumbList")
					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link Главная
						meta(itemprop="position" content="1")

					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link Каталог
						meta(itemprop="position" content="2")

					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link Верфи
						meta(itemprop="position" content="3")

					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link Обычные
						meta(itemprop="position" content="4")

					li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
						a(href="#" itemprop="item name").breadcrumbs__link.is-active Arcadia
						meta(itemprop="position" content="5")

			.shipyard-xl
				.shipyard-xl__desc
					mark.shipyard-xl__rubric мегаяхты
					h1.shipyard-xl__title Dannebrog
					ul.shipyard-xl__info
						li Длина судна: <b>78.43м</b>
						li Верфь: <b>Danish Royal Dockyard</b>
						li Год постройки: <b>1931г.</b>
		
			.shipyard-gallery.owl-carousel.js-carousel-gallery#toGallery
				.shipyard-gallery__item
					img(src="img/img-snipyard-4.jpg", width="354", alt="")
				.shipyard-gallery__item
					img(src="img/img-snipyard-5.jpg", width="628", alt="")
				.shipyard-gallery__item
					img(src="img/img-snipyard-6.jpg", width="471", alt="")
				.shipyard-gallery__item
					img(src="img/img-snipyard-1.jpg", width="664", alt="")
				.shipyard-gallery__item
					img(src="img/img-snipyard-2.jpg", width="450", alt="")
				.shipyard-gallery__item
					img(src="img/img-snipyard-3.jpg", width="487", alt="")
				
			.shipyard-panel
		
				ul.shipyard-panel__menu
					li
						a(href="#toGallery").shipyard-panel__link.js-smoothscroll Галерея
					li
						a(href="#toCharacteristics").shipyard-panel__link.js-smoothscroll Характеристики
					li
						a(href="#toDescription").shipyard-panel__link.js-smoothscroll Описание
					li
						a(href="#toMap").shipyard-panel__link.js-smoothscroll Местоположение
	
				.shipyard-panel__ctrl
					ul.shipyard-panel__menu
						li
							a(href="#").shipyard-panel__social
								+icon('ico-social-fb')
						li
							a(href="#").shipyard-panel__social
								+icon('ico-social-vk')
						li
							a(href="#").shipyard-panel__social
								+icon('ico-social-tw')

					a(href="#").btn.btn-block.btn-dark
						+icon('ico-compare')
						| ДОБАВИТЬ В СРАВНЕНИЕ

		
			.shipyard-body
			
				.shipyard-1100
			
					.shipyard-model#toCharacteristics

						.shipyard-model__content
							
							h2.shipyard-model__heading Характеристики

							ul.shipyard-model__progress(data-progress)
								li.col-sm-6

									.ui-progress
										.ui-progress__label Длина
										.ui-progress__count 47 метров
										.ui-progress__bar
											.ui-progress__bar-line(style="width: 20%" data-progress-bar="20%")
								li.col-sm-6

									.ui-progress
										.ui-progress__label Вес
										.ui-progress__count 10 тонн
										.ui-progress__bar
											.ui-progress__bar-line(style="width: 20%" data-progress-bar="20%")
								li.col-sm-6
									
									.ui-progress
										.ui-progress__label Ширина
										.ui-progress__count 5 метров
										.ui-progress__bar
											.ui-progress__bar-line(style="width: 40%" data-progress-bar="40%")
								
								li.col-sm-6

									.ui-progress
										.ui-progress__label Водоизмещение
										.ui-progress__count 40 тонн
										.ui-progress__bar
											.ui-progress__bar-line(style="width: 40%" data-progress-bar="40%")

								li.col-sm-6

									.ui-progress
										.ui-progress__label Осадка
										.ui-progress__count 2 метра
										.ui-progress__bar
											.ui-progress__bar-line(style="width: 50%" data-progress-bar="50%")
								
								li.col-sm-6

									.ui-progress
										.ui-progress__label Топлива
										.ui-progress__count 300 литров
										.ui-progress__bar
											.ui-progress__bar-line(style="width: 50%" data-progress-bar="50%")
								
								li.col-sm-6

									.ui-progress
										.ui-progress__label Пресная вода
										.ui-progress__count 500 литров
										.ui-progress__bar
											.ui-progress__bar-line(style="width: 20%" data-progress-bar="20%")
								
								li.col-sm-6

									.ui-progress
										.ui-progress__label Максимальная
										.ui-progress__count 27 узлов
										.ui-progress__bar
											.ui-progress__bar-line(style="width: 20%" data-progress-bar="20%")
								li.col-sm-6

									.ui-progress
										.ui-progress__label Крейсерская
										.ui-progress__count 15 узлов
										.ui-progress__bar
											.ui-progress__bar-line(style="width: 70%" data-progress-bar="70%")

							ul.shipyard-model__info
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-people')
									b.shipyard-model__info-title 8 человек
									p.shipyard-model__info-text
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-people')
									b.shipyard-model__info-title 8 человек
									p.shipyard-model__info-text Максимально пассажиров
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-rooms')
									b.shipyard-model__info-title 2
									p.shipyard-model__info-text Кол-во кают
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-beds')
									b.shipyard-model__info-title 2 человека
									p.shipyard-model__info-text Кол-во спальных мест для гостей
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-team')
									b.shipyard-model__info-title 2 человека
									p.shipyard-model__info-text Экипаж
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-beds')
									b.shipyard-model__info-title 1
									p.shipyard-model__info-text Кол-во спальных мест для экапажа
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-rooms')
									b.shipyard-model__info-title  1
									p.shipyard-model__info-text Кол-во кают для экипажа
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-material')
									b.shipyard-model__info-title Углепластик
									p.shipyard-model__info-text Материал корпуса
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-class-c')
									b.shipyard-model__info-title СЕ
									p.shipyard-model__info-text Класс мореходности
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-design')
									b.shipyard-model__info-title Модерн
									p.shipyard-model__info-text Дизайн
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-new')
									b.shipyard-model__info-title Новая модель
									p.shipyard-model__info-text
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-water')
									b.shipyard-model__info-title Водоизмещение
									p.shipyard-model__info-text Тип корпуса
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-fbv')
									b.shipyard-model__info-title ФБВ
									p.shipyard-model__info-text 
								li.col-4.col-sm-3.col-md-2
									figure.shipyard-model__info-icon
										+icon('ico-info-bathrooms')
									b.shipyard-model__info-title 99
									p.shipyard-model__info-text Кол-во санузлов

							ul.shipyard-model__engine
								li.col-12.col-sm-6
									.shipyard-model__engine-item
										figure.shipyard-model__engine-icon
											+icon('ico-engine-1')
										b.shipyard-model__engine-title Подвесной 
										p.shipyard-model__engine-text 2х370 л.с. Volvo Penta ВП-370

								li.col-12.col-sm-6
									.shipyard-model__engine-item
										figure.shipyard-model__engine-icon
											+icon('ico-engine-2')
										b.shipyard-model__engine-title Подвесной 
										p.shipyard-model__engine-text Aliquam varius eros vitae ultricies tincidunt. Quisque vel congue neque.
								li.col-12.col-sm-6
									.shipyard-model__engine-item
										figure.shipyard-model__engine-icon
											+icon('ico-engine-3')
										b.shipyard-model__engine-title Подвесной 
										p.shipyard-model__engine-text Aliquam varius eros vitae ultricies tincidunt. Quisque vel congue neque.
							
							.shipyard-model__more
								button.btn.btn-block.btn-grey
									| Все характеристики
									+icon('ico-more')

							h2#toDescription Описание

							p Идеальная модель в качестве первой собственной парусной яхты. Очень ухоженная лодка, много дополнительного оборудования и опций. Никогда не сдавалась в чартер, использовалась только для семейного отдыха владельца. Лодка должна быть продана, открыта к любым предложениям. <br>Растаможена на РФ. 

							p Установленное дополнительное оборудование:

							ul
								li — Спинакер 
								li — Спинакер гик 
								li — Шкоты 
								li — Генакер 125м 
								li — Чулки для подъёма и спуска генакера и спинакера 
								li — Навигация Raymarine 
								li — CD/FM/AM/LW/DVD радио с двумя динамиками 
								li — Navtex 
								li — АВТОПИЛОТ Raymarine ST 6001 
								li — Радар Raymarine 
								li — Чартплоттер Raymarine Raymarine С70 с GPS 

							h2#toMap Местоположение по AIS

							p <b>Италия, Reggio Calabria</b><br>Обновлено 19 сентября в 19:47

							figure
								img(src="img/img-map-2.jpg", alt="")



						.shipyard-model__sidebar
							.banner-300.js-fixed
								img(src="img/img-banner-1.jpg", alt="")
					
					//- .shipyard-content#toDescription
					//- 	.shipyard-content-in

							


				.offer

					h3.offer-heading ПОХОЖИЕ

					.offer-carousel.owl-carousel.js-carousel-offer

						a(href="#").market-item
							figure.market-item__image
								img(src="img/img-market-1.jpg", alt="")
							p.market-item__shipyard Westport
							h3.market-item__title Bayliner 185 Bowrider
							p.market-item__text 38,5м (2010 г.)
					
						a(href="#").market-item
							figure.market-item__image
								img(src="img/img-market-2.jpg", alt="")
							p.market-item__shipyard Озерная верфь
							h3.market-item__title Sea Ray 325 Sundancer
							p.market-item__text 38,5м (2010 г.)
					
						a(href="#").market-item
							figure.market-item__image
								img(src="img/img-market-3.jpg", alt="")
							p.market-item__shipyard Westport
							h3.market-item__title Stingray 195 CS/CX
							p.market-item__text 38,5м (2010 г.)
					
						a(href="#").market-item
							figure.market-item__image
								img(src="img/img-market-4.jpg", alt="")
							p.market-item__shipyard Онежский судостроительный завод
							h3.market-item__title Finnmaster 60 CC
							p.market-item__text 38,5м (2010 г.)

						a(href="#").market-item
							figure.market-item__image
								img(src="img/img-market-1.jpg", alt="")
							p.market-item__shipyard Westport
							h3.market-item__title Bayliner 185 Bowrider
							p.market-item__text 38,5м (2010 г.)
					
						a(href="#").market-item
							figure.market-item__image
								img(src="img/img-market-2.jpg", alt="")
							p.market-item__shipyard Озерная верфь
							h3.market-item__title Sea Ray 325 Sundancer
							p.market-item__text 38,5м (2010 г.)
					
						a(href="#").market-item
							figure.market-item__image
								img(src="img/img-market-3.jpg", alt="")
							p.market-item__shipyard Westport
							h3.market-item__title Stingray 195 CS/CX
							p.market-item__text 38,5м (2010 г.)
					
						a(href="#").market-item
							figure.market-item__image
								img(src="img/img-market-4.jpg", alt="")
							p.market-item__shipyard Онежский судостроительный завод
							h3.market-item__title Finnmaster 60 CC
							p.market-item__text 38,5м (2010 г.)
				
				
	// Snipyard :: End