// ARTICLE


.is-baseFont
	.article-content
		font-family: $fontBase

.is-small
	.article-panel
		color: #222
		min-height: auto
		+rmin($desktop)
			text-align: left
			padding: 45px 80px
			.article-panel__heading
				font-size: 50px
				line-height: 1
	.article-panel__image
		position: relative
		text-align: center
		margin: 0 0 20px
		img
			display: inline-block
			position: relative
			width: 100%
			height: auto
		
		&:after
			display: none

		+rmin($mobile)
			img
				width: auto
		+rmin($desktop)
			max-width: 240px
			margin: 0 28px 0 0
			float: left

	.article-panel__date
		position: relative
		top: 0
		margin: 0
		color: #919191
	.article-panel__rubric
		margin: 0 0 10px
	.article-panel__heading
		font-size: 30px
		margin: 0 0 15px
	.article-panel__text
		color: #212121
		opacity: 1
		font-family: $fontBase
		font-style: normal
		font-size: 18px
	


.is-firstletter
	+rmin($desktop)
		.article-content
			&:first-letter
				font-size: 80px
				line-height: 78px
				display: block
				float: left
				// margin: -15px 10px 0 -4px
				margin: -1px 10px 0 -4px

.article
	.container-fluid
		background: #fff
		position: relative
	+rmin($desktop)
		.container-fluid
			padding: 62px 20px
		// .breadcrumbs
		// 	position: relative
		// 	top: -48px
	



.article-panel
	padding: 120px 20px 50px
	margin: 0 -20px 15px
	position: relative
	z-index: 10
	background: #222
	color: #fff
	text-align: center
	display: flex
	flex-wrap: wrap
	align-items: flex-end
	background: #F5F5F5
	+rmin($desktop)
		padding-top: 110px
		margin: 0 0 20px
		
	+rmin($wide)
		min-height: 620px
		

.article-panel-align
	width: 100%

.article-panel__desc
	overflow: hidden

.article-panel__image
	margin: 0
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: -1
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		// background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(34,34,34,1) 100%);
		background-color: #212121;
		opacity: 0.5
	img
		display: block
		width: 100%
		height: 100%
		object-fit: cover

.article-panel__date
	display: block
	font-size: 14px
	margin: 0 0 30px
	+rmin($desktop)
		position: absolute
		top: 55px
		left: 0
		right: 0

.article-panel__rubric
	font-size: 12px
	font-weight: 700
	text-transform: uppercase
	background: none
	color: #1ea0e4
	letter-spacing: 1px
	display: block
	margin: 0 0 22px

.article-panel__heading
	display: block
	font-size: 30px
	line-height: 1.111
	font-weight: 700
	margin: 0 0 25px
	+rmin($desktop)
		font-size: 36px

.article-panel__text
	font: italic 18px/1.222 $fontCaption
	opacity: 0.5
	margin: 0 0 12px
	+rmin($desktop)
		font-size: 26px
		line-height: 1.384


// -----


.article-content
	font: 400 18px/26px $fontCaption
	color: #4c4c4c
	letter-spacing: -0.1px
	padding: 20px 0 0
	// -webkit-font-smoothing: auto
	& > ul
		@extend .ui-ul

	+rmin($desktop)
		padding: 0 80px
		& > figure, .images-carousel:not(.is-not_offset), .article-info, .gallery
			margin-left: -80px
			margin-right: -80px

.article-text
	font-size: 18px
	line-height: 26px
	color: #4c4c4c
	padding: 0 0 15px
	+rmin($desktop)
		font-size: 22px
		line-height: 30px
	

// -----

.article-info
	text-align: center
	background: #F5F5F5
	font: 400 14px/22px $fontBase
	color: #4c4c4c
	padding: 35px 20px 25px
	margin: 0 -20px 40px
	+rmin($desktop)
		padding: 40px
		margin: 0 0 40px
	+rmin($wide)
		padding-left: 80px
		padding-right: 80px
	a
		transition: .25s
		color: #4c4c4c
		text-decoration: none
		border-bottom: 1px solid transparent
		&:hover
			color: #000
			border-color: #000

.article-info__title
	display: block
	font-size: 18px
	color: #222222
	margin: 0 0 4px

.article-info__list
	margin: 0 0 10px
	padding: 0
	list-style: none


// -----


.article-tags
	margin: 0 -2.5px 40px
	padding: 0
	list-style: none
	font: 400 14px/22px $fontBase
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	color: #999999
	& > li
		padding: 0 2.5px
		margin: 5px 0

.article-tags__btn
	@extend .tags__btn
	margin: 0



.article-error
	font: 400 14px/22px $fontBase
	margin: 0 20px 40px
	color: #4c4c4c
	display: none
	+rmin($desktop)
		display: block

// ------

.article-comments
	margin: 0 0 40px

// -----


.article-banner, .article-widget
	margin: 0 0 40px
	+r($desktop)
		// display: none
		margin: 0
		position: fixed
		visibility: hidden



// -----

.article-list
	margin: 0

.article-list__item
	font: 400 16px/22px $fontBase
	color: #212121
	position: relative
	padding: 0 0 40px
	margin: 0 0 30px
	&:last-child
		margin: 0
		&:after
			display: none
	&:after
		content: ''
		display: block
		position: absolute
		left: 0
		bottom: 0
		right: 0
		height: 1px
		background-image: linear-gradient(to right, transparent 0%, transparent 0%, #999 50%, rgba(153, 153, 153, 0.02) 99%, transparent 100%, transparent 100%);
	+rmin($desktop)
		font-size: 18px
		line-height: 26px
		padding: 0 0 35px
		margin: 0 0 35px

.article-list__title
	display: block
	font-size: 18px
	line-height: 26px
	margin: 0 0 36px
	b
		margin: 0 20px 0 0
	+rmin($desktop)
		font-size: 22px
		margin-right: 200px

.article-list__link
	display: block
	font-weight: 700
	text-align: center
	font-size: 16px
	line-height: 26px
	margin: 0 0 10px
	+rmin($desktop)
		position: absolute
		top: 0
		right: 0
		margin: 0 0 25px

.article-list__image
	margin: 0 0 10px
	position: relative
	img
		display: block
		width: 100%
	+rmin($desktop)
		margin: 0 -80px 30px


.article-list__text
	margin: 0





// -----




// ------


.article-image
	position: relative
	text-align: center
	padding: 0
	margin: 0 0 30px
	+rmin($desktop)
		// margin-left: -80px
		// margin-right: -80px

.article-image-in
	display: inline-block
	vertical-align: top
	position: relative


.article-image__caption
	display: block
	font: 400 14px/20px $fontBase
	position: absolute
	left: 0
	right: 0
	bottom: 0
	text-align: center
	b
		margin: 0 10px

.article-image__caption-in
	display: inline-block
	vertical-align: top
	padding: 15px 20px
	background: #212121
	color: #fff
	border-radius: 4px 4px 0 0


