// FILTER

.filter
	background: #F5F5F5
	border-radius: 8px
	padding: 0 20px
	width: 100%
	margin: 0 0 21px
	display: inline-block
	vertical-align: top
	.row
		// flex-wrap: nowrap
		justify-content: space-between
		align-items: center
	.ui-check
		white-space: nowrap
		font-size: 13px
	.ui-label
		font-size: 13px
	.ui-number
		float: right
	.ui-input
		padding: 10px
	.ui-select
		.jq-selectbox__select
			padding-right: 30px
	+rmin($desktop)
		padding: 40px 20px
	&--panel
		
		margin: 0 0 40px
		.ui-input, .ui-check
			margin: 0 0 20px
		.ui-range, .ui-select
			margin: 0 0 20px
			.ui-input
				margin: 0
		.ui-range__label
			margin: 0
		
		.btn-dark
			padding: 8px 20px
			margin: 0 0 20px
		+rmin($desktop)
			padding: 40px 20px 20px

.filter__heading
	text-align: center
	font-size: 16px
	line-height: 1
	font-weight: 700
	color: #00ae6f
	text-transform: uppercase
	display: block
	margin: 0 0 37px
	letter-spacing: 1.5px
	display: none
	.ico
		display: block
		margin: 0 auto 18px
	.ico-filter
		font-size: 36px
	.ico-filter-motor
		font-size: 50px
	+rmin($desktop)
		display: block


.filter__ctrl
	padding: 10px 0 0
	.btn
		padding-left: 10px
		padding-right: 10px


.filter-toggle-btn
	display: block
	width: 100%
	font: 700 16px/30px $fontBase
	color: #00ae6f
	text-transform: uppercase
	text-align: left
	position: relative
	border: none
	background: none
	cursor: pointer
	padding: 30px 0
	
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		bottom: 0
		left: -20px
		right: -20px
		display: none
	&.is-active
		.icon-toggle
			transform: rotate(180deg)
	+rmin($desktop)
		display: none


.filter-toggle-content
	// display: none
	padding: 0 0 40px
	+rmin($desktop)
		display: block !important
		padding: 0

.filter-advanced
	transition: .25s
	display: block
	text-align: center
	white-space: nowrap
	font-size: 14px
	line-height: 20px
	color: #212121
	margin: 12px 0 0
	.ico
		font-size: 4px
		margin: 0 0 0 5px
	&:hover
		color: #999999