// HEADER

.banner
	text-align: center
	margin: 0
	padding: 10px 15px
	display: flex
	justify-content: center
	img
		display: block

.header
	background-color: #222222
	color: #fff
	height: 50px
	line-height: 50px
	.container
		display: flex

.nav
	flex: 1;
	&__btn
		display: none
	&__menu
		margin: 0
		padding: 0
		display: flex
		li
			padding: 0 10px
	&__link
		

.auth
	margin-left: auto

.search
	margin-left: auto
	
    
