// HEADER

.banner
	display: none
	background: #fff
	+rmin($desktop)
		padding: 10px 15px
		text-align: center
		margin: 0
		display: flex
		align-items: center
		justify-content: center
		min-height: 30px
		img
			display: block



.header
	position: relative
	z-index: 100
	background-color: #222
	color: #fff
	height: 60px
	line-height: 60px
	.container-fluid
		display: flex
		position: relative
		// max-width: none
	+rmin($desktop)
		height: 50px
		line-height: 50px
	+rmin(1340)
		.container-fluid
			padding: 0

.logo
	font-size: 24px
	margin: 0 30px 0 0
	position: relative
	a
		color: #fff
	.ico
		top: -4px
	+rmin(1340)
		margin-left: -17px

.nav
	flex: 1;
	&.is-open

		.nav__btn
			span
				background: none
			span:after
				top: 0
				transform: rotate(45deg)
			span:before
				top: 0
				transform: rotate(-45deg)

		.nav__dropdown
			opacity: 1
			visibility: visible
	&__btn
		display: block
		position: absolute
		top: 50%
		right: 20px
		width: 20px
		height: 14px
		border: none
		background: none
		margin: -7px 0 0
		cursor: pointer
		&:after
			content: ''
			display: block
			position: absolute
			top: -5px
			right: -5px
			bottom: -5px
			left: -5px
		span
			transition: .25s
			position: absolute
			top: 50%
			left: 0
			width: 20px
			height: 2px
			background: #fff
			&:after, &:before
				transition: .25s
				content: ''
				display: block
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: #fff
			&:after
				top: -6px
			&:before
				top: 6px
		+rmin($desktop)
			display: none
	&__dropdown
		display: block
		position: absolute
		top: 100%
		left: 0
		width: 100%
		background: #222
		padding: 5px 20px 60px
		// border-top: 1px solid rgba(255,255,255,0.25)
		box-shadow: 0 3px 10px rgba(0,0,0,0.3)
		transition: .25s
		opacity: 0
		visibility: hidden
		text-align: center
		+rmin($desktop)
			opacity: 1
			visibility: visible
			border: none
			padding: 0
			box-shadow: none
			display: flex
			align-items: center
			position: relative
			top: 0
			background: none
			text-align: left
	&__menu
		margin: 0
		padding: 0
		list-style: none
		font-size: 14px
		line-height: 40px
		font-weight: 400
		text-transform: uppercase
		white-space: nowrap
		-webkit-font-smoothing: auto
		& > li
			
		+rmin($desktop)
			display: flex
			flex: 1
			line-height: inherit
			& > li
				position: relative
				top: 2px
				border: none
				margin: 0 15px 0 0
		+rmin($wide)
			& > li
				margin: 0 30px 0 0
	&__link
		display: block
		color: #fff
		mark
			display: inline-block
			vertical-align: baseline
			position: relative
			top: -1px
			font-size: 12px
			line-height: 20px
			background: #209FE4
			color: #fff
			padding: 0 4px
			min-width: 20px
			text-align: center
			border-radius: 10px
			margin: 0 0 0 5px
			transition: 0.25s
		&:hover
			color: #999
			mark
				background: #b5e6fe
				color: #222222
		.ico-xl
			font-size: 10px
			top: -2px
		.ico-charterly
			font-size: 32px
			top: -1px
		.ico-compare
			font-size: 14px
			margin: 0 10px 0 0
			top: -2px
			+r($desktop)
				display: none
	&__tooltip
		position: absolute
		top: 100%
		left: 50%
		font-size: 12px
		line-height: 16px
		font-weight: 400
		text-transform: none
		color: #222
		background: #fff
		border-radius: 5px
		padding: 18px 10px 18px 20px
		box-shadow: 0 0 4px 1px rgba(0,0,0,0.3)
		transition: .15s
		z-index: 100
		margin: 20px 0 0
		transform: translate(-50%,0)
		white-space: nowrap
		opacity: 0
		visibility: hidden
		display: flex
		align-items: center
		&:after
			content: '▲'
			display: block
			position: absolute
			top: -10px
			left: 50%
			text-align: center
			font-size: 15px
			color: #fff
			margin: 0 0 0  -5px
			text-shadow: 0 -3px 3px rgba(0,0,0,0.3)
		.ico
			margin: 0 20px 0 0
		.ico-nav-journal
			font-size: 40px
		.ico-nav-catalog
			font-size: 20px
		.ico-nav-market
			font-size: 40px
		.ico-nav-xl
			font-size: 14px
		.ico-nav-charterly
			font-size: 34px

	+rmin($desktop)
		&__link:hover .nav__tooltip
			opacity: 1
			visibility: visible


.auth-entry
	margin: 0 0 0 auto
	font-size: 14px
	color: #999
	display: flex
	align-items: center
	white-space: nowrap
	position: relative
	+r($desktop)
		display: block
		padding: 20px 0 0
		margin: 0

.auth-user
	position: relative
	display: inline-block
	vertical-align: top
	&:hover
		.auth-user__menu
			opacity: 1
			visibility: visible
	&__link
		display: flex
		align-items: center
		color: #999
		transition: 0.25s
		margin: 0 12px 0 0
		position: relative
		&:hover
			color: #fff
	&__name
	&__photo
		margin: 0
		width: 30px
		height: 30px
		border-radius: 50%
		overflow: hidden
		margin: 0 0 0 5px
		position: relative
		background: #fff url(../img/bg-photo-mobile.png) center bottom no-repeat
		background-size: auto 80%
		position: relative
		img
			display: block
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			object-fit: cover
	&__menu
		margin: 0
		padding: 0
		list-style: none
		
		position: absolute
		top: 100%
		left: 50%
		font-size: 12px
		line-height: 16px
		font-weight: 400
		text-transform: none
		color: #222
		background: #fff
		border-radius: 5px
		padding: 18px 20px
		box-shadow: 0 0 4px 1px rgba(0,0,0,0.3)
		transition: .15s
		z-index: 100
		margin: 20px 0 0
		transform: translate(-50%,0)
		white-space: nowrap
		opacity: 0
		visibility: hidden
		& > li
			margin: 0 0 5px
			&:last-child
				margin: 0
		&:after
			content: '▲'
			display: block
			position: absolute
			top: -10px
			left: 50%
			text-align: center
			font-size: 15px
			color: #fff
			margin: 0 0 0  -5px
			text-shadow: 0 -3px 3px rgba(0,0,0,0.3)
		&:before
			content: ''
			display: block
			position: absolute
			top: -30px
			height: 30px
			left: 0
			right: 0
		&-link
			transition: .25s
			color: #222
			border-bottom: 1px solid transparent
			&:hover
				color: #222
				border-color: #222

	+r($desktop)
		display: block
		padding: 10px 0 0
		&__link
			margin: 0
		
		&__name
			display: none
		&__photo
			display: block
			width: 60px
			height: 60px
			margin: 0 auto 10px
		&__menu
			opacity: 1
			visibility: visible
			position: relative
			left: 0
			top: 0
			transform: none
			background: none
			box-shadow: none
			font-size: 14px
			line-height: 20px
			padding: 0 0 10px
			margin: 0
			& > li
				margin: 0 0 7px
			
			&:after, &:before
				display: none

			&-link
				color: #999999
				border: none
				&:hover
					color: #fff
				

.auth
	margin: 0 0 0 20px
	padding: 0
	list-style: none
	font-size: 14px
	display: flex
	justify-content: center
	position: relative
	white-space: nowrap
	+r($desktop)
		margin: 0
		display: block
	
	& > li
		position: relative
		padding: 0 12px 0 0
		&:after
			content: ''
			display: block
			position: absolute
			top: 50%
			right: 5px
			width: 2px
			height: 2px
			background: #999999
		&:last-child
			padding: 0
			&:after
				display: none
	&__link
		color: #999
		&:hover
			color: #fff
	+r($desktop)
		flex-wrap: wrap
		line-height: 1
		padding: 10px 0 15px
		& > li
			width: 100%
			padding: 0
			margin: 0 0 13px
			&:last-child
				margin-bottom: 7px
			&:after
				display: none

.search
	line-height: 1
	position: relative
	overflow: hidden
	transition: .25s
	max-width: 240px
	margin: 0 auto
	+rmin($desktop)
		width: 38px
		margin: 0 0 0 30px
		&__input
			opacity: 0
			visibility: hidden
		&.is-open
			width: 220px
			.search__input
				opacity: 1
				visibility: visible

	&__input
		transition: .25s
		width: 100%
		border: 1px solid #4D4D4D
		font: 400 12px/20px 'Open Sans', Helvetica, Arial, sans-serif
		border-radius: 16px
		padding: 5px 20px
		background: none
		// color: #fff
		// color: #4d4d4d
		height: 32px
		&::placeholder
			color: #999
		&:focus
			background: #FFF
			border-color: #fff
			color: #4d4d4d
			& ~ .search__btn
				color: #999999
				&:hover
					color: #000
	&__btn
		display: block
		border: none
		padding: 0
		background: none
		color: #fff
		font-size: 14px
		line-height: 1
		position: absolute
		top: 0
		height: 100%
		right: 0
		width: 38px
		cursor: pointer
		text-align: center
		display: flex
		align-items: center
		justify-content: center
		transition: .25s
		&:hover
			color: #999
		.ico
			display: block








// =rmin($width)
