// OFFICIAL

.official
	background: #222222
	color: #fff
	margin: 0 -20px
	padding: 60px 20px 40px
	overflow: hidden

.official-heading
	font: 300 20px/26px $fontHeading
	text-transform: uppercase
	text-align: center
	letter-spacing: 4px
	margin: 0 0 30px

.official-list
	margin: 0 auto
	padding: 0
	list-style: none
	max-width: 778px
	& > li
		border-bottom: 1px solid #4D4D4D
		margin: 0 0 5px
		&:last-child
			border: none
			margin: 0


.official-group
	padding: 20px 0
	text-align: center
	+rmin($tablet)
		text-align: left

.official-company
	
	margin: 0 0 10px
	&__image
		width: 110px
		height: 80px
		border: 1px solid #e0e0e0
		background: #fff
		padding: 10px
		border-radius: 4px
		margin: 0 auto 10px
		display: flex
		align-items: center
		justify-content: center
	&__title
		display: block
		margin: 0
		font-size: 18px
		line-height: 26px
	+rmin($tablet)
		margin: 0
		display: flex
		align-items: center
		text-align: left
		&__image
			margin: 0 20px 0 0

.official-info
	font-size: 14px
	line-height: 22px
	display: block
	margin: 0
	padding: 5px 0
	white-space: nowrap
	[class^="col-"]
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
		+rmin($tablet)
			margin-bottom: 0