// REQUEST

.request
	background: #F5EFE6
	padding: 25px
	color: #212121
	margin: 30px auto 55px
	text-align: center
	letter-spacing: -0.02px
	max-width: 1100px
	.ui-input
		padding: 10px
	+rmin($desktop)
		padding: 30px 80px
	&--dark
		background: #222222
		color: #fff
		position: relative
		margin: 10px 0 55px
		padding: 50px 40px
		&:after, &:before
			content: ''
			position: absolute
			left: 15px
			right: 15px
			height: 10px
		&:after
			background: url(../img/bg-dots-top.png) center 0 repeat-x
			background-size: 100% 10px
			top: 0
		&:before
			background: url(../img/bg-dots-bottom.png) center 0 repeat-x
			bottom: 0
			background-size: 100% 10px
		.request-heading
			font: 20px/26px $fontHeading
			text-transform: uppercase
			letter-spacing: 2px
			margin: 0 0 25px
		.request-caption
			a:hover
				color: #fff
		+rmin($tablet)
			&:after, &:before
				width: 11px
				top: 15px
				bottom: 15px
				height: auto
			&:after
				left: 0
				background: url(../img/bg-dots-left.png) center 0 repeat-y
				background-size: 11px 100%
			&:before
				right: 0
				left: auto
				background: url(../img/bg-dots-right.png) center 0 repeat-y
				background-size: 11px 100%
		+rmin($desktop)
			padding: 40px 80px 20px
			margin: 0 auto 55px


.request-heading
	display: block
	font-size: 22px
	line-height: 26px
	font-weight: 700
	margin: 0 0 2px
	

.request-text
	display: block
	font-size: 18px
	line-height: 28px
	margin: 0 0 12px



.request-caption
	display: block
	font-size: 12px
	line-height: 18px
	color: #999999
	margin: 0
	padding: 8px 0
	a
		color: #999
		text-decoration: underline
		&:hover
			color: #222

