// shipyard

.shipyard
	position: relative
	.container-fluid
		background: #fff
		padding: 110px 20px 60px
	+rmin($desktop)
		.container-fluid
			padding-top: 60px
	.offer
		+rmin($wide)
			// margin: 0 -80px -40px

	.tabs__menu
		+r($desktop)
			flex-wrap: wrap
			white-space: nowrap
			& > li
				width: 50%
				&:last-child
					width: 100%
		

// -----

.shipyard-body
	font-size: 16px
	line-height: 22px
	color: #4c4c4c
	letter-spacing: 0.1px
	padding: 0
	.container-fluid
		padding: 40px 20px
	.banner-300
		margin-top: 10px
	
	& > ul
		@extend .ui-ul
	+rmin($desktop)
		font-size: 18px
		line-height: 26px

	+rmin($wide)
		.container-fluid
			// padding: 62px 100px



.shipyard-head
	margin: 0 0 -30px
	overflow: hidden
	text-align: center
	padding: 15px 0 0
	+rmin($desktop)
		display: flex
		align-items: center
		margin: -5px 80px -25px
		text-align: left
	&__image
		min-width: 165px
		width: 165px
		height: 120px
		// margin: 0 40px 0 0
		border: 1px solid #e0e0e0
		border-radius: 4px
		padding: 10px
		display: flex
		align-items: center
		justify-content: center
		margin: 0 auto 20px
		+rmin($desktop)
			margin: 0 40px 0 0
	&__desc
		padding: 0 0 5px
	&__rubric
		display: block
		font-size: 12px
		line-height: 18px
		font-weight: 700
		color: #1ea0e4
		text-transform: uppercase
		background: none
		letter-spacing: 2px
		margin: 0 0 5px
	&__title
		font-size: 30px
		line-height: 1
		font-weight: 700
		display: block
		margin: 0 0 12px
		+rmin($tablet)
			font-size: 40px
		+rmin($wide)
			font-size: 50px
	&__country
		position: relative
		display: inline-block
		margin: 0
		padding: 0 0 0 30px
		font-size: 12px
		line-height: 18px
		color: #4c4c4c
		img
			border: 1px solid #d9d9d9
			display: block
			width: 24px
			height: 18px
			object-fit: cover
			position: absolute
			top: 0
			left: 0
	&__info
		margin: 0
		padding: 0
		list-style: none
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		font-size: 14px
		line-height: 20px
		color: #4c4c4c
		& > li
			white-space: nowrap
			margin: 0 20px 5px 0
			&:last-child
				margin-right: 0
		.ico
			font-size: 14px
			color: #1EA0E4
			margin: 0 10px 0 0
			position: relative
			top: -2px
		+rmin($desktop)
			justify-content: flex-start
	&__details
		margin-left: auto
		font-size: 14px
		line-height: 20px
		color: #999999
		position: relative
		top: -2px
		letter-spacing: 0.2px
		white-space: nowrap
		padding: 10px 0

		+rmin($desktop)
			text-align: right
			padding-left: 10px

	&__tags
		margin: 0 -10px
		padding: 0
		list-style: none
		font-size: 12px
		line-height: 20px
		font-weight: 700
		text-transform: uppercase
		letter-spacing: 2px
		display: flex
		flex-wrap: wrap
		justify-content: center
		+rmin($desktop)
			justify-content: flex-start
		& > li
			padding: 5px 10px
		&-link
			color: #4c4c4c
			&:hover
				color: #999
			mark
				background: #E0E0E0
				color: #999
				display: inline-block
				vertical-align: middle
				position: relative
				top: -1px
				padding: 0 5px
				border-radius: 10px
				font-weight: 400
				min-width: 22px
				// margin: 0 5px
				letter-spacing: 0px


// -----


.shipyard-xl
	margin: 0 0 -30px
	overflow: hidden
	text-align: center
	+rmin($desktop)
		display: flex
		align-items: center
		margin: -5px 80px -30px
	&__image
		min-width: 165px
		width: 165px
		height: 120px
		// margin: 0 40px 0 0
		border: 1px solid #e0e0e0
		border-radius: 4px
		padding: 10px
		display: flex
		align-items: center
		justify-content: center
		margin: 0 auto 20px
		+rmin($desktop)
			margin: 0 40px 0 0
	&__desc
		padding: 0 0 5px
		flex: 1
	&__rubric
		display: block
		font-size: 12px
		line-height: 18px
		font-weight: 700
		color: #1ea0e4
		text-transform: uppercase
		background: none
		letter-spacing: 2px
		margin: 0 0 5px
	&__title
		font-size: 30px
		line-height: 1
		font-weight: 700
		display: block
		margin: 0 0 12px
		+rmin($tablet)
			font-size: 40px
		+rmin($wide)
			font-size: 50px
	&__country
		position: relative
		display: block
		margin: 0
		padding: 0 0 0 30px
		font-size: 12px
		line-height: 18px
		color: #4c4c4c
		img
			border: 1px solid #d9d9d9;
			display: block
			width: 24px
			height: 18px
			object-fit: cover
			position: absolute
			top: 0
			left: 0
	&__info
		margin: 0 -15px
		padding: 0
		list-style: none
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		font-size: 14px
		line-height: 26px
		color: #999999
		overflow: hidden
		& > li
			padding: 0 15px
			margin: 0 0 5px
			position: relative
			width: 50%
			&:nth-child(1)
				order: 1
			&:nth-child(2)
				order: 3
				width: 100%
			&:nth-child(3)
				order: 2
				
			&:after
				content: ''
				display: block
				position: absolute
				top: 50%
				right: 0
				width: 1px
				height: 40px
				margin: -20px 0 0
				background: #E0E0E0
			&:last-child
				margin-right: 0
				&:after
					display: none
		b
			display: block
			font-size: 18px
			color: #222
		.ico
			font-size: 14px
			color: #1EA0E4
			margin: 0 10px 0 0
			position: relative
			top: -2px
		+rmin($tablet)
			margin: 0 -50px
			& > li
				width: auto
				padding: 0 50px
				&:nth-child(1), &:nth-child(2), &:nth-child(3)
					order: inherit
					width: auto
			// justify-content: flex-start
	&__details
		margin-left: auto
		font-size: 14px
		line-height: 20px
		color: #999999
		position: relative
		top: -2px
		letter-spacing: 0.2px
		white-space: nowrap
		padding: 10px 0

		+rmin($desktop)
			text-align: right
			padding-left: 10px

	&__tags
		margin: 0 -10px
		padding: 0
		list-style: none
		font-size: 12px
		line-height: 20px
		font-weight: 700
		text-transform: uppercase
		letter-spacing: 2px
		display: flex
		flex-wrap: wrap
		justify-content: center
		+rmin($desktop)
			justify-content: flex-start
		& > li
			padding: 5px 10px
		&-link
			color: #4c4c4c
			&:hover
				color: #999
			mark
				background: #E0E0E0
				color: #999
				display: inline-block
				vertical-align: middle
				position: relative
				top: -1px
				padding: 0 5px
				border-radius: 10px
				font-weight: 400
				min-width: 22px
				// margin: 0 5px
				letter-spacing: 0px





// ------

.shipyard-gallery
	position: relative
	overflow: hidden
	margin: 0
	background: #3D4961 url(../img/bg-shipyard-gallery.png) 0 0
		
	.owl-stage, .owl-item
		display: flex
	.owl-dots
		display: flex
		align-items: center
		justify-content: center
		padding: 0 40px
		height: 20px
		position: absolute
		top: 0
		left: 0
		right: 0
		display: none
	.owl-dot
		display: block
		width: 8px
		height: 8px
		border-radius: 50%;
		margin: 0 10px
		background: #E0E0E0
		&.active
			background: #000
	.owl-prev, .owl-next
		transition: .25s
		position: absolute
		// top: 100px
		top: 50%
		width: 60px
		height: 60px
		background: #fff
		display: flex
		align-items: center
		justify-content: center
		color: #222222
		margin: -30px 0 0
		.ico
			font-size: 30px
		&:hover
			color: #fff
			background: #4D4D4D
	.owl-prev
		left: 0
		border-radius: 0px 4px 4px 0px;
	.owl-next
		right: 0
		border-radius: 4px 0 0 4px;
	+r($tablet)
		// padding: 40px 0 0
		background: #fff
		.owl-prev, .owl-next
			// height: 40px
			width: auto
			background: none
			// color: #222222
			// top: -10px
			color: #fff
			z-index: 10
			// margin: 0
			.ico
				// font-size: 20px
				font-size: 30px
			&:hover
				background: none
				// color: #222222
				color: #fff
		.owl-prev
			left: 20px
		.owl-next
			right: 20px
		.owl-dots
			// display: flex


.shipyard-gallery__item
	margin: 0 auto
	min-height: 180px
	max-width: 1300px
	max-height: 470px
	display: block
	// width: 100%
	// height: 470px
	img
		// width: auto !important
		// width: 100%
		width: auto
		height: 100%
		// object-fit: cover

.shipyard-image
	margin: 0 auto
	max-width: 1300px
	img
		width: 100%
		height: auto
		display: block

// ------

.shipyard__heading
	display: block
	text-align: center
	font: 400 30px/36px $fontHeading
	text-transform: uppercase
	letter-spacing: 4px
	margin: 0 0 36px
	+rmin($desktop)
		font-size: 40px
		line-height: 1

.shipyard-group
	padding: 0 0 17px
	display: flex
	flex-wrap: wrap
	+r($desktop)
		padding: 0
	&__letter
		width: 160px
		text-align: center
		display: block
		font: 400 20px/22px $fontHeading
		text-transform: uppercase
		margin: 0
		display: none
		+rmin($desktop)
			display: block
	&__list
		margin: 0 -10px
		padding: 0
		list-style: none
		display: flex
		flex-wrap: wrap
		flex: 1
		& > li
			margin: 0 0 21px
			// max-width: 242px
			+r($desktop)
				margin: 0 0 15px
				// max-width: none

.shipyard-item
	display: inline-block
	position: relative
	line-height: 22px
	color: #222
	padding: 0 0 0 36px
	+r($tablet)
		padding: 0 32px 0 0
		display: block
		float: left
		max-width: 100%
	&:hover
		color: #222
		.shipyard-item__title
			text-decoration: underline
	&__image
		display: block
		margin: 0
		position: absolute
		top: 0
		left: 0
		border: 1px solid #D9D9D9
		width: 24px
		height: 18px
		img
			display: block
			width: 100%
			height: 100%
			object-fit: cover
		+r($tablet)
			display: none
	&__title
		font-size: 16px
		line-height: 18px
		font-weight: 700
		margin: 0 0 5px
		display: block
		+r($tablet)
			display: inline
			display: block
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
	&__count
		font-size: 12px
		line-height: 18px
		color: #4c4c4c
		margin: 0
		display: block
		+r($tablet)
			display: inline-block
			justify-content: center
			position: relative
			font-weight: 700
			color: #999
			border-radius: 9px
			background: #E0E0E0
			width: 26px
			text-align: center
			padding: 0 4px

			position: absolute
			top: 2px
			right: 0
			span
				display: none


.shipyard__ctrl
	text-align: center
	+r($tablet)
		padding: 20px 0 0


// -----

.shipyard-panel
	display: flex
	position: relative
	background: #EDEDED
	margin: 0

	.container-fluid
		width: 100%
		max-width: 1140px
		padding: 10px 20px
		background: inherit
		+rmin($desktop)
			display: flex
			align-items: center

		+rmin($wide)
			// padding: 10px 100px
	&__menu
		margin: 0
		padding: 10px 0
		list-style: none
		display: flex
		align-items: center
		font-size: 16px
		line-height: 20px
		justify-content: center
		& > li
			margin: 0 20px 0 0

	&__link
		transition: .25s
		color: #222
		border-bottom: 1px solid transparent
		&:hover
			color: rgba(0,0,0,0.6)
			border-color: rgba(0,0,0,0.6)
	&__social
		color: #222
		padding: 10px 0
		.ico
			transition: .25s
		.ico-social-fb
			font-size: 18px
		.ico-social-vk
			font-size: 13px
		.ico-social-tw
			font-size: 14px
		&:hover
			.ico-social-fb
				color: $facebook
			.ico-social-vk
				color: $vk
			.ico-social-tw
				color: $twitter


	&__ctrl
		margin: 0 0 0 auto
		.btn
			margin: 10px 0
			padding: 10px
			
		+rmin($mobile)
			display: flex
			align-items: center
			justify-content: center
			.btn
				min-width: 300px
				max-width: 300px


.shipyard-model
	overflow: hidden
	width: 100%

	+r($mobile)
		.shipyard-model__progress > li:nth-child(n+3),
		.shipyard-model__info, .shipyard-model__engine
			display: none

		&.is-open
			.shipyard-model__more
				display: none
			.shipyard-model__progress > li:nth-child(n+3)
				display: block
			.shipyard-model__info, .shipyard-model__engine
				display: flex



	&__more
		display: none
		+r($tablet)
			display: block

	&__content
		width: 100%
		overflow: hidden
		font-size: 18px
		line-height: 26px
		color: #4c4c4c
		margin: 0 0 40px
		+rmin($tablet)
			float: left
			padding: 0 340px 0 0
		+rmin($desktop)
			padding: 0 400px 0 0

	&__sidebar
		position: relative
		margin: 0 0 40px
		font-size: 14px
		line-height: 20px
		.banner-300
			margin: 0 0 40px
		&-decor
			background: #222
			color: #fff
			text-align: center
			padding: 54px 40px 30px
			&:after, &:before
				content: ''
				position: absolute
				left: 15px
				right: 15px
				height: 10px
			&:after
				background: url(../img/bg-dots-top.png) center 0 repeat-x
				background-size: 100% 10px
				top: 0
			&:before
				background: url(../img/bg-dots-bottom.png) center 0 repeat-x
				bottom: 0
				background-size: 100% 10px
		+rmin($tablet)
			float: left
			width: 300px
			margin: 18px 0 10px -300px
		
		.btn
			margin: 0 0 14px
		&-heading
			display: block
			font: 400 20px/1 $fontHeading
			text-transform: uppercase
			margin: 0 0 35px
			letter-spacing: 2px
		&-price
			margin: 0 0 42px
			color: #999999
			b
				display: block
				color: #fff
				font-size: 18px
				margin: 0 0 4px
		&-text
			margin: 0 0 16px
		&-item
			margin: 0 0 40px
			&-image
				height: 160px
				padding: 10px
				background: #fff
				border-radius: 4px
				display: flex
				align-items: center
				justify-content: center
				margin: 0 auto 18px
				max-width: 220px
				img
					display: block
					max-width: 100%
					max-height: 100%
			&-title
				font-size: 18px
				line-height: 20px
				font-weight: 700
				display: block
				margin: 0 0 5px
			&-text
				margin: 0 0 2px
				color: #999
		
		&-phone
			padding: 0 0 28px
		&-phone-list
			margin: 0
			padding: 0 0 12px
			list-style: none
			font-size: 14px
			line-height: 18px
			display: inline-block
			vertical-align: top
			& > li
				margin: 0 0 12px
		&-phone-number
			display: block
			position: relative
			padding: 0 0 0 45px
			text-align: left
			color: #fff
			&:hover
				color: #fff
			img
				display: block
				position: absolute
				top: 0
				left: 0
				width: 34px
				height: 18px
				object-fit: cover
		&-phone-more
			display: block
			// color: #1ea0e4
			
		
	
	&__heading
		font-size: 30px
		line-height: 1
		font-weight: 700
		color: #212121
		margin: 0 0 25px

	&__progress
		margin: 0 -10px 20px
		padding: 10px 0 0
		list-style: none
		display: flex
		flex-wrap: wrap
		& > li
			padding: 0 10px
		+rmin($desktop)
			margin: 0 -50px 20px
			& > li
				padding: 0 50px

	&__info
		font-size: 12px
		line-height: 18px
		text-align: center
		margin: 0 -10px -18px
		padding: 0
		list-style: none
		display: flex
		flex-wrap: wrap
		& > li
			padding: 0 10px
			margin: 0 0 18px
		&-icon
			display: flex
			align-items: center
			justify-content: center
			margin: 0 0 10px
			color: #BDBDBD
			height: 58px
			.ico-info-people
				font-size: 45px
			.ico-info-rooms
				font-size: 42px
			.ico-info-beds
				font-size: 29px
			.ico-info-team
				font-size: 35px
			.ico-info-material
				font-size: 35px
			.ico-info-class-c
				font-size: 34px
			.ico-info-design
				font-size: 15px
			.ico-info-new
				font-size: 43px
			.ico-info-water
				font-size: 24px
			.ico-info-fbv
				font-size: 41px
			.ico-info-bathrooms
				font-size: 45px
		&-title
			display: block
			margin: 0
			color: #1a1a1a
			font-weight: 700
		&-text
			margin: 0
			color: #999999

	// -----
	
	&__line
		margin: 30px 0

	// -----

	&__engine
		position: relative
		margin: 30px -10px 12px
		padding: 0
		list-style: none
		display: flex
		flex-wrap: wrap
		border-top: 1px solid #E0E0E0
		padding: 30px 0 0
		& > li
			padding: 0 10px
			margin: 0 0 28px
		&-item
			font-size: 12px
			line-height: 18px
			color: #999999
			position: relative
			padding: 0 0 0 90px
			display: flex
			flex-wrap: wrap
			// align-items: center
		&-icon
			position: absolute
			top: 50%
			left: 0
			width: 90px
			height: 90px
			display: flex
			align-items: center
			justify-content: center
			color: #BDBDBD
			text-align: center
			transform: translate(0,-50%)
			.ico-engine-1
				font-size: 50px
			.ico-engine-2
				font-size: 22px
			.ico-engine-3
				font-size: 44px
		&-title
			color: #1a1a1a
			width: 100%
		&-text
			width: 100%
			margin: 0

.shipyard-content
	padding: 0 0 35px

	h1, h2, h3, h4, h5
		line-height: 1
		font-weight: 700
		color: #212121
		margin: 0 0 25px
	h2
		font-size: 30px
	h3
		font-size: 24px

	ul
		margin: 0 0 25px
		padding: 0
		list-style: none

.shipyard-content-in
	+rmin($desktop)
		padding-right: 400px

.shipyard-1100
	max-width: 1100px
	margin: 0 auto

.shipyard-sale
	background: #222
	color: #fff
	padding: 20px
	text-align: center


.shipyard-other
	margin: 90px 0 -60px
	.other
		border-top: 1px solid #E0E0E0
		padding: 60px 0
	+rmin($wide)
		margin: 90px 0 -40px