// XL




.page-xl
	background: url(../img/bg-xl.jpg) center center no-repeat fixed
	background-size: cover
	.footer
		background: none
		color: #fff
	.logo a,
	.nav-info__link
		color: #fff
	hr
		opacity: 0.2


.xl
	padding: 60px 0
	.container-fluid
		padding: 60px 20px
		background: #fff
	.media
		padding: 0 0 60px
	.market
		background: #F5F5F5
		margin: 0 -20px
		padding: 60px 20px
	.brands
		+rmin($desktop)
			padding-left: 80px
			padding-right: 80px
	.brands__heading
		margin: 0 0 40px
	&--model
		padding: 0


.xl__heading
	display: block
	text-align: center
	color: #fff
	margin: 0 0 40px
	font-size: 30px
	font: 400 40px/1 $fontHeading
	.ico
		font-size: 32px
		margin: 0 20px
		vertical-align: baseline
	+rmin($desktop)
		font-size: 70px
		.ico
			font-size: 52px

.xl__content
	background: #fff
	padding: 20px