*
    box-sizing: border-box
    outline: none


body
  background: #F5F5F5
  color: $fontColor
  font: 400 16px/1.375 $fontBase
  min-width: 320px
  max-width: 100%
  margin: 0
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  // -moz-osx-font-smoothing: grayscale

.page
    display: flex
    flex-direction: column
    overflow: hidden
    &__content
        flex: 1 1 auto

.container
    max-width: 1200px
    margin-left: auto
    margin-right: auto
    padding-left: 20px
    padding-right: 20px

.container-fluid
    max-width: 1300px
    padding-left: 20px
    padding-right: 20px


.page-journal
    background: #fff

h1, h2, h3, h4, h5, h6
  line-height: 1.18
  margin: 0 0 20px


p
    margin: 0 0 35px

figure
    position: relative
    margin: 0 0 40px

figcaption
    display: block
    font: 400 14px/20px $fontBase
    position: absolute
    left: 50%
    bottom: 0
    transform: translate(-50%,0)
    padding: 15px 20px
    background: #212121
    color: #fff
    border-radius: 4px 4px 0 0


img
    display: block
    max-width: 100%
    height: auto

hr
    border: none
    border-top: 1px solid #E0E0E0
    margin: 25px 0

q
    display: block
    font: 500 30px/1.111 $fontHeadingSecond
    letter-spacing: -0.5px
    text-transform: uppercase
    color: #4c4c4c
    padding: 0 0 0 15px
    margin: 0 0 25px
    position: relative
    &:after, &:before
        display: none
    &:after
        content: ''
        display: block
        position: absolute
        top: 7px
        left: 0
        bottom: 7px
        border-left: 4px solid #1EA0E4
    .social
        padding: 20px 0 0
    +rmin($desktop)
        font-size: 36px
        padding: 0 0 0 38px
        .social
            padding: 0
            width: 0


blockquote
    position: relative
    display: block
    font: italic 400 20px/1.5 $fontCaption
    color: #666666
    border: 1px solid #1ea0e4
    background: #fff
    border-radius: 8px
    padding: 20px
    margin: 0 0 50px
    &:after, &:before
        content: ''
        display: block
        position: absolute
        top: 100%
        left: 50%
        border-bottom: 20px solid transparent
        border-left: 60px solid transparent
        margin-left: -30px
        
    &:after
        z-index: 1
        border-left-color: #1EA0E4
    &:before
        z-index: 2
        border-left-color: #fff
        transform: translate(1px,-1px)

        
    .social
        width: 100%
        padding: 15px 0 10px
        

    +rmin($desktop)
        padding: 26px 40px
        .social
            justify-content: flex-end


a
    transition: color $transitionSpeed
    color: #1ea0e4
    text-decoration: none
    &:hover
        color: #5bc7ff

