.ico-arrow-down {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.ico-bell {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.ico-boats {
  width: 4.57em;
  height: 1em;
  fill: initial;
}
.ico-charterly-1 {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.ico-charterly-2 {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.ico-charterly-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-charterly-4 {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.ico-charterly-5 {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.ico-charterly-logo {
  width: 2.75em;
  height: 1em;
  fill: initial;
}
.ico-charterly {
  width: 2.88em;
  height: 1em;
  fill: initial;
}
.ico-check {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.ico-filter {
  width: 1.22em;
  height: 1em;
  fill: initial;
}
.ico-logo {
  width: 3.58em;
  height: 1em;
  fill: initial;
}
.ico-motor {
  width: 3.18em;
  height: 1em;
  fill: initial;
}
.ico-next {
  width: 0.33em;
  height: 1em;
  fill: initial;
}
.ico-popular {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-prev {
  width: 0.33em;
  height: 1em;
  fill: initial;
}
.ico-sailing {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-set-1 {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.ico-set-2 {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.ico-set-3 {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.ico-set-4 {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.ico-set-5 {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
.ico-set-6 {
  width: 1.56em;
  height: 1em;
  fill: initial;
}
.ico-set-7 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-set-8 {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.ico-social-fb {
  width: 0.44em;
  height: 1em;
  fill: initial;
}
.ico-social-im {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-social-vk {
  width: 1.52em;
  height: 1em;
  fill: initial;
}
.ico-xl {
  width: 4.6em;
  height: 1em;
  fill: initial;
}
